In [26]:
import os
import pandas as pd
import gc
from multiprocessing import Pool, cpu_count
from glob import glob
from gplearn.genetic import SymbolicTransformer
import utils

In [11]:
bureau = utils.get_dummies(utils.read_pickles('../data/bureau').sort_values('SK_ID_CURR'))
label = utils.load_train(['SK_ID_CURR', 'TARGET'])

100%|██████████| 20/20 [00:02<00:00,  8.27it/s]
100%|██████████| 20/20 [00:03<00:00,  5.92it/s]

In [12]:
bureau = pd.merge(bureau, label, on='SK_ID_CURR', how='left')

In [17]:
bureau = bureau[~bureau.TARGET.isnull()]

In [18]:
bureau.head(20)

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Loan-for-purchase-of-shares-(margin-lending),CREDIT_TYPE_Loan-for-the-purchase-of-equipment,CREDIT_TYPE_Loan-for-working-capital-replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile-operator-loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real-estate-loan,CREDIT_TYPE_Unknown-type-of-loan,TARGET,TARGET_norm
7,100002,6158909,-103,0,NaN,NaN,40.500,0,31988.565,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
8,100002,6158908,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
9,100002,6158907,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,...,0,0,0,0,0,0,0,0,1.0,0.125
10,100002,6158906,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
11,100002,6158905,-476,0,NaN,-48.0,NaN,0,0.000,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
12,100002,6158904,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,...,0,0,0,0,0,0,0,0,1.0,0.125
13,100002,6158903,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,...,0,0,0,0,0,0,0,0,1.0,0.125
14,100002,6113835,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,...,0,0,0,0,0,0,0,0,1.0,0.125
15,100003,5885880,-606,0,1216.0,NaN,0.000,0,810000.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
16,100003,5885879,-775,0,-420.0,-621.0,0.000,0,72652.500,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
17,100003,5885878,-1636,0,-540.0,-540.0,0.000,0,112500.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
18,100003,5885877,-2586,0,-2434.0,-2131.0,0.000,0,22248.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
19,100004,6829133,-1326,0,-595.0,-683.0,NaN,0,94500.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
20,100004,6829134,-408,0,-382.0,-382.0,0.000,0,94537.800,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
24,100007,5987200,-1149,0,-783.0,-783.0,0.000,0,146250.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
25,100008,6491434,-78,0,471.0,NaN,0.000,0,267606.000,240057.0,...,0,0,0,0,0,0,0,0,0.0,0.000
26,100008,6491432,-1097,0,-792.0,-790.0,NaN,0,95134.500,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
27,100008,6491433,-1097,0,-853.0,-1028.0,NaN,0,105705.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
28,100009,5651008,-1259,0,-1080.0,-986.0,NaN,0,114799.500,NaN,...,0,0,0,0,0,0,0,0,0.0,0.000
29,100009,5651014,-727,0,-482.0,-482.0,0.000,0,110655.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000

In [15]:
bureau['TARGET_norm'] = bureau.TARGET / bureau.groupby('SK_ID_CURR')['SK_ID_CURR'].transform('count')

In [19]:
bureau.head(20)

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Loan-for-purchase-of-shares-(margin-lending),CREDIT_TYPE_Loan-for-the-purchase-of-equipment,CREDIT_TYPE_Loan-for-working-capital-replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile-operator-loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real-estate-loan,CREDIT_TYPE_Unknown-type-of-loan,TARGET,TARGET_norm
7,100002,6158909,-103,0,NaN,NaN,40.500,0,31988.565,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
8,100002,6158908,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
9,100002,6158907,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,...,0,0,0,0,0,0,0,0,1.0,0.125
10,100002,6158906,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
11,100002,6158905,-476,0,NaN,-48.0,NaN,0,0.000,0.0,...,0,0,0,0,0,0,0,0,1.0,0.125
12,100002,6158904,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,...,0,0,0,0,0,0,0,0,1.0,0.125
13,100002,6158903,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,...,0,0,0,0,0,0,0,0,1.0,0.125
14,100002,6113835,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,...,0,0,0,0,0,0,0,0,1.0,0.125
15,100003,5885880,-606,0,1216.0,NaN,0.000,0,810000.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
16,100003,5885879,-775,0,-420.0,-621.0,0.000,0,72652.500,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
17,100003,5885878,-1636,0,-540.0,-540.0,0.000,0,112500.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
18,100003,5885877,-2586,0,-2434.0,-2131.0,0.000,0,22248.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
19,100004,6829133,-1326,0,-595.0,-683.0,NaN,0,94500.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
20,100004,6829134,-408,0,-382.0,-382.0,0.000,0,94537.800,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
24,100007,5987200,-1149,0,-783.0,-783.0,0.000,0,146250.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
25,100008,6491434,-78,0,471.0,NaN,0.000,0,267606.000,240057.0,...,0,0,0,0,0,0,0,0,0.0,0.000
26,100008,6491432,-1097,0,-792.0,-790.0,NaN,0,95134.500,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
27,100008,6491433,-1097,0,-853.0,-1028.0,NaN,0,105705.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000
28,100009,5651008,-1259,0,-1080.0,-986.0,NaN,0,114799.500,NaN,...,0,0,0,0,0,0,0,0,0.0,0.000
29,100009,5651014,-727,0,-482.0,-482.0,0.000,0,110655.000,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000

In [21]:
X = bureau.iloc[:, 2:-2]

In [23]:
y = bureau.iloc[:, -2:]

In [30]:
X.isnull().sum()

DAYS_CREDIT                                                       0
CREDIT_DAY_OVERDUE                                                0
DAYS_CREDIT_ENDDATE                                           89098
DAYS_ENDDATE_FACT                                            544673
AMT_CREDIT_MAX_OVERDUE                                       948545
CNT_CREDIT_PROLONG                                                0
AMT_CREDIT_SUM                                                    3
AMT_CREDIT_SUM_DEBT                                          223094
AMT_CREDIT_SUM_LIMIT                                         489670
AMT_CREDIT_SUM_OVERDUE                                            0
DAYS_CREDIT_UPDATE                                                0
AMT_ANNUITY                                                 1130013
CREDIT_ACTIVE_Active                                              0
CREDIT_ACTIVE_Bad-debt                                            0
CREDIT_ACTIVE_Closed                                              0
CREDIT_ACTIVE_Sold                                                0
CREDIT_CURRENCY_currency-1                                        0
CREDIT_CURRENCY_currency-2                                        0
CREDIT_CURRENCY_currency-3                                        0
CREDIT_CURRENCY_currency-4                                        0
CREDIT_TYPE_Another-type-of-loan                                  0
CREDIT_TYPE_Car-loan                                              0
CREDIT_TYPE_Cash-loan-(non-earmarked)                             0
CREDIT_TYPE_Consumer-credit                                       0
CREDIT_TYPE_Credit-card                                           0
CREDIT_TYPE_Interbank-credit                                      0
CREDIT_TYPE_Loan-for-business-development                         0
CREDIT_TYPE_Loan-for-purchase-of-shares-(margin-lending)          0
CREDIT_TYPE_Loan-for-the-purchase-of-equipment                    0
CREDIT_TYPE_Loan-for-working-capital-replenishment                0
CREDIT_TYPE_Microloan                                             0
CREDIT_TYPE_Mobile-operator-loan                                  0
CREDIT_TYPE_Mortgage                                              0
CREDIT_TYPE_Real-estate-loan                                      0
CREDIT_TYPE_Unknown-type-of-loan                                  0
dtype: int64

In [31]:
X.min()

DAYS_CREDIT                                                   -2922.000
CREDIT_DAY_OVERDUE                                                0.000
DAYS_CREDIT_ENDDATE                                          -42060.000
DAYS_ENDDATE_FACT                                            -42023.000
AMT_CREDIT_MAX_OVERDUE                                            0.000
CNT_CREDIT_PROLONG                                                0.000
AMT_CREDIT_SUM                                                    0.000
AMT_CREDIT_SUM_DEBT                                        -4705600.320
AMT_CREDIT_SUM_LIMIT                                        -586406.115
AMT_CREDIT_SUM_OVERDUE                                            0.000
DAYS_CREDIT_UPDATE                                           -41947.000
AMT_ANNUITY                                                       0.000
CREDIT_ACTIVE_Active                                              0.000
CREDIT_ACTIVE_Bad-debt                                            0.000
CREDIT_ACTIVE_Closed                                              0.000
CREDIT_ACTIVE_Sold                                                0.000
CREDIT_CURRENCY_currency-1                                        0.000
CREDIT_CURRENCY_currency-2                                        0.000
CREDIT_CURRENCY_currency-3                                        0.000
CREDIT_CURRENCY_currency-4                                        0.000
CREDIT_TYPE_Another-type-of-loan                                  0.000
CREDIT_TYPE_Car-loan                                              0.000
CREDIT_TYPE_Cash-loan-(non-earmarked)                             0.000
CREDIT_TYPE_Consumer-credit                                       0.000
CREDIT_TYPE_Credit-card                                           0.000
CREDIT_TYPE_Interbank-credit                                      0.000
CREDIT_TYPE_Loan-for-business-development                         0.000
CREDIT_TYPE_Loan-for-purchase-of-shares-(margin-lending)          0.000
CREDIT_TYPE_Loan-for-the-purchase-of-equipment                    0.000
CREDIT_TYPE_Loan-for-working-capital-replenishment                0.000
CREDIT_TYPE_Microloan                                             0.000
CREDIT_TYPE_Mobile-operator-loan                                  0.000
CREDIT_TYPE_Mortgage                                              0.000
CREDIT_TYPE_Real-estate-loan                                      0.000
CREDIT_TYPE_Unknown-type-of-loan                                  0.000
dtype: float64

In [33]:
X.fillna(0, inplace=True)

# GP

In [25]:
function_set = ['add' , 'sub', 'mul', 'div', 'sqrt', 'log', 'abs', 'neg', 'inv', 'max', 'min', 'sin', 'cos', 'tan']

In [28]:
gp = SymbolicTransformer(
    population_size=1000, 
    hall_of_fame=100, 
    n_components=10, 
    generations=20, 
    tournament_size=20, 
    stopping_criteria=1.0, 
    const_range=(-1.0, 1.0), 
    init_depth=(2, 6), 
    init_method='half and half', 
    function_set=function_set,
    metric='pearson', 
    parsimony_coefficient=0.001, 
    p_crossover=0.9, 
    p_subtree_mutation=0.01, 
    p_hoist_mutation=0.01, 
    p_point_mutation=0.01, 
    p_point_replace=0.05, 
    max_samples=0.7, 
    warm_start=False, 
    n_jobs=cpu_count(), 
    verbose=1, 
    random_state=0)

In [34]:
gp.fit(X, y.TARGET)

    |    Population Average   |             Best Individual              |
---- ------------------------- ------------------------------------------ ----------
 Gen   Length          Fitness   Length          Fitness      OOB Fitness  Time Left
   0     8.54 0.010008250169361134        4 0.07158444881847875 0.06825691485958775     12.97m
   1     4.58 0.038508388462836746        4 0.07193116675837924 0.0674576297055329     11.84m
   2     3.29 0.06171393989616202        2 0.07186121312336928 0.06761670166423671     11.11m
   3     2.07 0.06929441319357964        2 0.07270286364062829 0.06565769434097406     10.53m
   4     1.99 0.06925803316892572        2 0.07230073282575694 0.0666060206270237      9.90m
   5     2.02 0.06891766753666531        2 0.07228629752413965 0.06663497647192926      9.26m
   6     2.04 0.06915501143314191        2 0.0722730570880859 0.06666979347418629      8.60m
   7     2.04 0.06922596306152821        2 0.07233445372520061 0.06653402627011701      7.96m
   8     2.01 0.06895198809054387        2 0.07246445478567116 0.06622761683217158      7.31m
   9     1.99 0.06931587527990118        2 0.07227549619515959 0.06661519503949427      6.65m
  10     2.01 0.06909710120447546        2 0.07260316821052282 0.06591861326473412      5.99m
  11     2.03 0.06922645876057283        2 0.07234947902079818 0.06650147117955447      5.33m
  12      2.0 0.0691296885311499        2 0.072667430812984 0.06577098421722102      4.67m
  13     2.02 0.06931119633806185        2 0.0723515930831728 0.06648279129603214      4.00m
  14     2.07 0.06940021418074759        2 0.07263273947437825 0.06582291815800906      3.34m
  15      2.0 0.06906629071476891        2 0.07257654766649789 0.0659813447683177      2.67m
  16     2.02 0.0694484245912199        2 0.07241561793583312 0.06635408565782698      2.00m
  17     2.02 0.0692770292173487        2 0.07257559414738801 0.0659251664360506      1.34m
  18     2.02 0.06923486387219958        2 0.07256307853298424 0.06598267710120008     40.11s
  19     2.05 0.06891115342008151        2 0.0722540435565962 0.06671102235500108      0.00s

SymbolicTransformer(const_range=(-1.0, 1.0),
          function_set=['add', 'sub', 'mul', 'div', 'sqrt', 'log', 'abs', 'neg', 'inv', 'max', 'min', 'sin', 'cos', 'tan'],
          generations=20, hall_of_fame=100, init_depth=(2, 6),
          init_method='half and half', max_samples=0.7, metric='pearson',
          n_components=10, n_jobs=32, p_crossover=0.9,
          p_hoist_mutation=0.01, p_point_mutation=0.01,
          p_point_replace=0.05, p_subtree_mutation=0.01,
          parsimony_coefficient=0.001, population_size=1000,
          random_state=0, stopping_criteria=1.0, tournament_size=20,
          verbose=1, warm_start=False)

In [35]:
print(gp)

[log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0)]

In [36]:
gp2 = SymbolicTransformer(
    population_size=1000, 
    hall_of_fame=100, 
    n_components=10, 
    generations=20, 
    tournament_size=20, 
    stopping_criteria=1.0, 
    const_range=(-22.0, 22.0), 
    init_depth=(2, 6), 
    init_method='half and half', 
    function_set=function_set,
    metric='pearson', 
    parsimony_coefficient=0.001, 
    p_crossover=0.9, 
    p_subtree_mutation=0.01, 
    p_hoist_mutation=0.01, 
    p_point_mutation=0.01, 
    p_point_replace=0.05, 
    max_samples=0.7, 
    warm_start=False, 
    n_jobs=40, 
    verbose=1, 
    random_state=0)

In [37]:
gp2.fit(X, y.TARGET_norm)
print(gp2)

    |    Population Average   |             Best Individual              |
---- ------------------------- ------------------------------------------ ----------
 Gen   Length          Fitness   Length          Fitness      OOB Fitness  Time Left
   0     8.54 0.009822300986174134        4 0.07405031412349687 0.07139377962254552     14.28m
   1     4.95 0.04093469086506655        4 0.07436212001051754 0.07067384742843744     13.34m
   2     3.61 0.062025175972254626        8 0.07572350425660948 0.07459445664129047     12.58m
   3     2.13 0.0715324705213225        2 0.07505454626148735 0.06907467376049341     11.94m
   4     1.99 0.07153708730075141        2 0.07583995037827547 0.06719782786297064     11.21m
   5     2.02 0.07123636472336094        2 0.07564501542697748 0.06762429443795089     10.49m
   6     2.04 0.07147571240330587        2 0.07533798337366163 0.0683873063839544      9.74m
   7     2.04 0.07151855246736351        2 0.07557880943229812 0.0678608935568286      9.00m
   8     2.01 0.07123998333058988        2 0.07558041500020587 0.06793439196048225      8.27m
   9     1.99 0.07157163376819022        2 0.0752588137008586 0.06856111427153413      7.51m
  10     2.01 0.07132908284761456        2 0.07518240509903894 0.0687090263833847      6.76m
  11     2.03 0.07152521345548742        2 0.07548024888713076 0.068093553520953      6.01m
  12      2.0 0.07139536844630132        2 0.07509770475568021 0.06899262017939509      5.26m
  13     2.02 0.07162834956912081        2 0.07519981800972572 0.06877691262949942      4.51m
  14     2.07 0.07169580753756742        2 0.07543099246231565 0.06811629262090067      3.76m
  15      2.0 0.07131368505756815        2 0.07510044873935637 0.06895603591059862      3.01m
  16     2.02 0.07180646312867585        2 0.07528132238045154 0.06851864752735182      2.26m
  17     2.02 0.07163749863292121        2 0.07543049026505472 0.06827554547986651      1.51m
  18     2.02 0.07153233446174002        2 0.07525967060028517 0.06869338772077423     45.13s
  19     2.05 0.07120023123778178        2 0.07513795994848092 0.06882041261330789      0.00s
[log(X0),
 log(log(X0)),
 log(log(X0)),
 log(log(X0)),
 log(log(X0)),
 log(X0),
 log(X0),
 log(X0),
 log(X0),
 log(X0)]