In [1]:
import pandas as pd
from tqdm import tqdm
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 50)

In [2]:
train  = pd.read_csv('../input/application_train.csv.zip')
train['is_train'] = 1

test  = pd.read_csv('../input/application_test.csv.zip')
test['is_train'] = 0

trte = pd.concat([train, test], ignore_index=True)

In [3]:
prev = pd.read_csv('../input/previous_application.csv.zip')
prev.sort_values('DAYS_DECISION', inplace=True)

In [4]:
user_id = pd.read_csv('../data/user_id_v4.csv.zip')

In [5]:
dup = user_id[user_id.duplicated('user_id', False)]
cnt = dup.groupby('user_id').size()
cnt.name = 'dup_cnt'
cnt = cnt.reset_index()
cnt['dup_id'] = range(cnt.shape[0])

dup = pd.merge(dup, cnt, on='user_id', how='left')
dup = pd.merge(dup, trte, on='SK_ID_CURR', how='left')
dup.sort_values(['user_id', 'DAYS_BIRTH'], ascending=[True, False], inplace=True)

dup['seq'] = 1
dup['seq'] = dup.groupby('user_id').seq.cumsum()-1

col = train.columns.tolist() + [c for c in dup.columns if c not in train.columns]
for c in ['dup_id', 'dup_cnt', 'user_id']:
    col.remove(c)
col = ['user_id'] + col

dup = dup[col]

In [36]:
dup[['user_id', 'SK_ID_CURR', 'TARGET', 'is_train', 'DAYS_BIRTH']]#.to_csv('dup_tbl.csv', index=False)

       user_id  SK_ID_CURR  TARGET  is_train  DAYS_BIRTH
0            2      100041     0.0         1      -12158
3012         2      181102     0.0         1      -12395
2605         3      170362     0.0         1      -17166
1            3      100043     0.0         1      -17199
2144         4      157771     0.0         1      -12435
2            4      100066     NaN         0      -12744
11604        5      417707     0.0         1       -7783
3            5      100072     0.0         1       -7907
12375        6      437195     0.0         1      -15292
4            6      100090     NaN         0      -15524
5            7      100094     0.0         1      -22935
2847         7      176665     0.0         1      -23107
6            8      100125     0.0         1      -21613
9189         8      351641     NaN         0      -21880
10971        9      398229     0.0         1      -16659
7            9      100144     0.0         1      -16759
8           10      100147     0.0         1      -16142
9407        10      357498     0.0         1      -16397
1221        11      134172     0.0         1      -16091
9           11      100164     0.0         1      -16097
10          12      100190     0.0         1      -13972
2674        12      171997     NaN         0      -14258
9875        13      369392     0.0         1      -14128
11          13      100232     NaN         0      -14445
4644        14      226916     1.0         1      -20420
...        ...         ...     ...       ...         ...
12550     6490      442067     NaN         0      -15060
12556     6491      442215     0.0         1      -19584
12661     6491      445172     0.0         1      -19584
12618     6492      444203     0.0         1      -24566
12575     6492      442727     0.0         1      -24568
12586     6493      443146     0.0         1      -10590
13021     6493      454722     NaN         0      -10751
12611     6494      444049     0.0         1      -11085
12767     6494      447578     0.0         1      -11204
12679     6495      445498     0.0         1      -10990
12839     6495      449636     NaN         0      -11110
12862     6496      450293     0.0         1      -18372
12741     6496      446877     NaN         0      -18567
12747     6497      447028     0.0         1      -13988
12942     6497      452486     0.0         1      -13988
12813     6498      448823     0.0         1      -17711
12869     6498      450499     0.0         1      -17823
12838     6499      449596     0.0         1      -14502
13076     6499      456213     0.0         1      -14589
12898     6500      451376     0.0         1      -16261
12893     6500      451240     0.0         1      -16431
12911     6501      451723     0.0         1      -11097
12906     6501      451583     1.0         1      -11338
12925     6502      452030     0.0         1      -19393
13037     6502      455255     NaN         0      -19661

[13079 rows x 5 columns]

In [34]:
dup.groupby('user_id')['DAYS_BIRTH'].transform('diff')

0          NaN
3012       NaN
2605    -237.0
1       -237.0
2144       NaN
2          NaN
11604    -33.0
3        -33.0
12375      NaN
4          NaN
5       -309.0
2847    -309.0
6          NaN
9189       NaN
10971   -124.0
7       -124.0
8          NaN
9407       NaN
1221    -232.0
9       -232.0
10         NaN
2674       NaN
9875    -172.0
11      -172.0
4644       NaN
         ...
12550    -79.0
12556      NaN
12661      NaN
12618      0.0
12575      0.0
12586      NaN
13021      NaN
12611      0.0
12767      0.0
12679      NaN
12839      NaN
12862      0.0
12741      0.0
12747      NaN
12942      NaN
12813   -120.0
12869   -120.0
12838      NaN
13076      NaN
12898   -224.0
12893   -224.0
12911      NaN
12906      NaN
12925     -1.0
13037     -1.0
Name: DAYS_BIRTH, Length: 13079, dtype: float64

In [7]:
sub_best = pd.read_csv('../data/stochastic_blending_v3-3_0.411rk7_0.304mw1_0.285t1_0.81031CV_0.3Adv.csv')

In [11]:
tmp = dup[dup.TARGET==0].user_id
tmp = dup[dup.user_id.isin(tmp)][dup.is_train==0].SK_ID_CURR

sub_best[sub_best.SK_ID_CURR.isin( tmp )]

/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

       SK_ID_CURR    TARGET
36         100271  0.156819
452        103171  0.764340
1140       108045  0.986070
2470       117249  0.898757
2711       119014  0.614188
2828       119813  0.975751
2901       120388  0.172719
4304       130774  0.613737
4782       134494  0.973248
5165       137651  0.897936
5602       140996  0.988101
6165       145157  0.601756
6874       150501  0.969330
7218       152833  0.907804
7582       155547  0.948445
8060       159078  0.866650
8465       161993  0.953451
10435      175737  0.748523
15172      209288  0.852166
15804      213957  0.900993
16898      222303  0.908625
17189      224488  0.817003
18030      230748  0.859757
18379      233512  0.348351
23199      268602  0.491609
...           ...       ...
26646      293996  0.997887
27257      298776  0.991855
27352      299501  0.913282
28899      310586  0.593673
28975      311157  0.651260
29786      316815  0.998318
29840      317227  0.989517
31771      331191  0.939603
32748      338581  0.955584
34922      355320  0.616301
35378      358955  0.252093
35928      362872  0.709646
37014      370844  0.767828
37026      370882  0.952876
38254      381121  0.990481
38289      381203  0.994543
40935      401230  0.965719
40947      401332  0.549750
41925      407091  0.860885
43810      419787  0.971525
44078      421998  0.782722
44239      423503  0.966437
44668      427067  0.782825
47216      445047  0.868722
47918      450141  0.979300

[56 rows x 2 columns]

In [14]:
user_id_test = dup[dup.is_train==0].user_id
dup_test = dup[dup.user_id.isin(user_id_test)]

In [15]:
user_id_test_t0 = dup_test[dup_test.TARGET==0].user_id
user_id_test_t1 = dup_test[dup_test.TARGET==1].user_id

In [16]:
ids_0 = dup[dup.user_id.isin(user_id_test_t0)][dup.is_train==0].SK_ID_CURR.tolist()
ids_1 = dup[dup.user_id.isin(user_id_test_t1)][dup.is_train==0].SK_ID_CURR.tolist()

/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/home/Kazuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [17]:
len(ids_0), len(ids_1)

(2443, 56)

In [18]:
len( set(ids_0) & set(ids_1) ), set(ids_0) & set(ids_1)

(1, {358955})

In [19]:
# remove 358955# remove 
ids_0.remove(358955)
ids_1.remove(358955)

# Swap

In [20]:
sub_best.sort_values('TARGET', inplace=True)

sub_0 = sub_best[sub_best.SK_ID_CURR.isin(ids_0)].reset_index(drop=True)
sub_1 = sub_best[sub_best.SK_ID_CURR.isin(ids_1)].reset_index(drop=True)
sub_other = sub_best[~sub_best.SK_ID_CURR.isin(ids_0+ids_1)].reset_index(drop=True)

In [21]:
sub_0

      SK_ID_CURR    TARGET
0         331032  0.000739
1         234695  0.001108
2         126822  0.001251
3         177424  0.001539
4         197224  0.001600
5         442541  0.002380
6         251267  0.002503
7         443039  0.002872
8         336791  0.003303
9         124362  0.003344
10        335313  0.003467
11        229298  0.003734
12        415117  0.004206
13        268761  0.004965
14        416826  0.005190
15        237103  0.006032
16        308403  0.006114
17        215488  0.006606
18        325377  0.006626
19        215739  0.006667
20        219000  0.007221
21        369016  0.007734
22        211150  0.008350
23        256392  0.008432
24        421690  0.009211
...          ...       ...
2417      181538  0.985147
2418      344229  0.985332
2419      259020  0.985537
2420      311609  0.986275
2421      126438  0.986973
2422      272148  0.987239
2423      116880  0.988019
2424      105584  0.989024
2425      242499  0.989476
2426      169580  0.990604
2427      296696  0.991219
2428      321416  0.991650
2429      423061  0.992184
2430      178182  0.992532
2431      318615  0.992984
2432      372463  0.993189
2433      381754  0.993743
2434      258966  0.994625
2435      266468  0.996533
2436      447972  0.996800
2437      431170  0.997046
2438      141215  0.998605
2439      378349  0.999241
2440      145874  0.999467
2441      239616  0.999508

[2442 rows x 2 columns]

In [22]:
sub_1

    SK_ID_CURR    TARGET
0       100271  0.156819
1       120388  0.172719
2       233512  0.348351
3       268602  0.491609
4       288876  0.513232
5       401332  0.549750
6       310586  0.593673
7       145157  0.601756
8       130774  0.613737
9       119014  0.614188
10      355320  0.616301
11      311157  0.651260
12      362872  0.709646
13      175737  0.748523
14      103171  0.764340
15      370844  0.767828
16      421998  0.782722
17      427067  0.782825
18      279778  0.795872
19      224488  0.817003
20      209288  0.852166
21      230748  0.859757
22      407091  0.860885
23      159078  0.866650
24      445047  0.868722
..         ...       ...
30      299501  0.913282
31      281876  0.929981
32      331191  0.939603
33      155547  0.948445
34      370882  0.952876
35      161993  0.953451
36      338581  0.955584
37      282317  0.957985
38      401230  0.965719
39      423503  0.966437
40      150501  0.969330
41      419787  0.971525
42      134494  0.973248
43      119813  0.975751
44      450141  0.979300
45      108045  0.986070
46      140996  0.988101
47      317227  0.989517
48      381121  0.990481
49      298776  0.991855
50      273336  0.992799
51      381203  0.994543
52      293996  0.997887
53      316815  0.998318
54      288138  0.999979

[55 rows x 2 columns]

In [23]:
target_all = sorted(sub_0.append(sub_1).TARGET.values)
target_0, target_1 = target_all[:sub_0.shape[0]], target_all[sub_0.shape[0]:]

In [24]:
len(target_0), len(target_1)

(2442, 55)

In [25]:
sub_0.TARGET = target_0
sub_1.TARGET = target_1

In [26]:
sub_0

      SK_ID_CURR    TARGET
0         331032  0.000739
1         234695  0.001108
2         126822  0.001251
3         177424  0.001539
4         197224  0.001600
5         442541  0.002380
6         251267  0.002503
7         443039  0.002872
8         336791  0.003303
9         124362  0.003344
10        335313  0.003467
11        229298  0.003734
12        415117  0.004206
13        268761  0.004965
14        416826  0.005190
15        237103  0.006032
16        308403  0.006114
17        215488  0.006606
18        325377  0.006626
19        215739  0.006667
20        219000  0.007221
21        369016  0.007734
22        211150  0.008350
23        256392  0.008432
24        421690  0.009211
...          ...       ...
2417      181538  0.966786
2418      344229  0.966929
2419      259020  0.966970
2420      311609  0.967258
2421      126438  0.967299
2422      272148  0.967606
2423      116880  0.967709
2424      105584  0.967996
2425      242499  0.969309
2426      169580  0.969330
2427      296696  0.969453
2428      321416  0.970130
2429      423061  0.971299
2430      178182  0.971525
2431      318615  0.971853
2432      372463  0.972058
2433      381754  0.972140
2434      258966  0.972509
2435      266468  0.973145
2436      447972  0.973248
2437      431170  0.973310
2438      141215  0.974212
2439      378349  0.975197
2440      145874  0.975279
2441      239616  0.975464

[2442 rows x 2 columns]

In [27]:
sub_1

    SK_ID_CURR    TARGET
0       100271  0.975628
1       120388  0.975751
2       233512  0.976120
3       268602  0.976879
4       288876  0.977002
5       401332  0.978685
6       310586  0.979259
7       145157  0.979300
8       130774  0.979649
9       119014  0.979874
10      355320  0.980387
11      311157  0.980716
12      362872  0.981187
13      175737  0.981311
14      103171  0.981331
15      370844  0.981618
16      421998  0.981885
17      427067  0.982152
18      279778  0.982377
19      224488  0.983054
20      209288  0.985147
21      230748  0.985332
22      407091  0.985537
23      159078  0.986070
24      445047  0.986275
..         ...       ...
30      299501  0.989476
31      281876  0.989517
32      331191  0.990481
33      155547  0.990604
34      370882  0.991219
35      161993  0.991650
36      338581  0.991855
37      282317  0.992184
38      401230  0.992532
39      423503  0.992799
40      150501  0.992984
41      419787  0.993189
42      134494  0.993743
43      119813  0.994543
44      450141  0.994625
45      108045  0.996533
46      140996  0.996800
47      317227  0.997046
48      381121  0.997887
49      298776  0.998318
50      273336  0.998605
51      381203  0.999241
52      293996  0.999467
53      316815  0.999508
54      288138  0.999979

[55 rows x 2 columns]

In [28]:
sub_new = pd.concat([sub_0, sub_1, sub_other])
sub_new.sort_values('TARGET', inplace=True)
sub_new.reset_index(drop=True, inplace=True)

sub_new.shape

(48744, 2)

In [29]:
sub_best.shape, sub_new.SK_ID_CURR.unique().shape

((48744, 2), (48744,))

In [30]:
sub_new.to_csv('../output/stochastic_blending_v3-2_0.308rk7_0.431mw1_0.261t1_0.81050CV_0.3Adv_Leak005.csv.gz', index=False, compression='gzip')