# Step1:数据预处理

In [1]:
#coding:utf-8
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
os.listdir("/Users/szkfzx/datasets/papadai")

['listing_info.csv',
 '.DS_Store',
 'user_taglist.csv',
 'test.csv',
 'submission.csv',
 'user_info.csv',
 'train.csv',
 'user_behavior_logs.csv',
 'user_repay_logs.csv']

In [3]:
train = pd.read_csv('/Users/szkfzx/datasets/papadai/train.csv')
test = pd.read_csv('/Users/szkfzx/datasets/papadai/test.csv')
submission = pd.read_csv('/Users/szkfzx/datasets/papadai/submission.csv')
listing_info = pd.read_csv('/Users/szkfzx/datasets/papadai/listing_info.csv')
user_taglist = pd.read_csv('/Users/szkfzx/datasets/papadai/user_taglist.csv')
user_info = pd.read_csv('/Users/szkfzx/datasets/papadai/user_info.csv')
user_behavior_logs = pd.read_csv('/Users/szkfzx/datasets/papadai/user_behavior_logs.csv')
user_repay_logs = pd.read_csv('/Users/szkfzx/datasets/papadai/user_repay_logs.csv')

In [4]:
print("train shape:",train.shape)
print("test shape:",test.shape)
print("submission shape:",submission.shape)
print("listing_info shape:",listing_info.shape)
print("user_taglist shape:",user_taglist.shape)
print("user_info shape:",user_info.shape)
print("user_behavior_logs shape:",user_behavior_logs.shape)
print("user_repay_logs shape:",user_repay_logs.shape)

train shape: (1000000, 7)
test shape: (130000, 5)
submission shape: (3987078, 3)
listing_info shape: (5484891, 6)
user_taglist shape: (615160, 3)
user_info shape: (954209, 8)
user_behavior_logs shape: (55781271, 3)
user_repay_logs shape: (18001297, 7)

In [5]:
train.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt
0,748147,3163926,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167
1,672952,3698760,2018-06-09,2018-07-09,258.7045,2018-07-08,258.7045
2,404196,2355665,2018-02-18,2018-03-18,307.9270,\N,\N
3,342769,1994522,2018-01-13,2018-02-13,252.9809,2018-02-13,252.9809
4,828139,3602352,2018-06-01,2018-07-01,107.6503,2018-06-25,107.6503
5,795130,4745662,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499
6,95223,3779424,2018-06-19,2018-07-19,3730.9948,2018-07-19,3730.9948
7,115500,2759330,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302
8,515940,2464315,2018-02-28,2018-03-28,133.9311,2018-03-26,133.9311
9,757631,4509276,2018-09-23,2018-10-23,394.3774,\N,\N
10,549337,2998189,2018-04-12,2018-05-12,145.1170,2018-04-12,145.117
11,25687,3703512,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221
12,321937,4798285,2018-10-31,2018-11-30,292.3439,2018-11-30,292.3439
13,616214,3135386,2018-04-23,2018-05-23,104.1686,2018-05-22,104.1686
14,360342,3774626,2018-06-18,2018-07-18,259.7528,2018-07-18,259.7528
15,174405,3032919,2018-04-14,2018-05-14,634.1695,2018-05-09,634.1695
16,809809,3745431,2018-06-14,2018-07-14,1131.5995,2018-07-14,1131.5995
17,340920,1987875,2018-01-13,2018-02-13,195.7454,2018-02-10,195.7454
18,911899,5146879,2018-12-18,2019-01-18,1027.7126,2019-01-18,1027.7126
19,776180,3041492,2018-04-15,2018-05-15,195.7454,2018-05-12,195.7454
20,279960,3220453,2018-04-30,2018-05-30,320.5188,\N,\N
21,768119,4236148,2018-08-18,2018-09-18,109.0835,2018-09-18,109.0835
22,135903,4098113,2018-07-30,2018-08-30,131.6416,2018-08-30,131.6416
23,76720,2503515,2018-03-03,2018-04-03,225.1639,2018-04-01,225.1639
24,810891,2596254,2018-03-11,2018-04-11,133.9311,2018-04-11,133.9311
25,488475,5137160,2018-12-17,2019-01-17,483.4584,2019-01-17,483.4584
26,337408,4517677,2018-09-24,2018-10-24,1389.7108,2018-10-22,1389.7108
27,175815,2602604,2018-03-12,2018-04-12,486.1024,\N,\N
28,433342,5190222,2018-12-27,2019-01-27,209.1453,2019-01-27,209.1453
29,598337,2133470,2018-01-27,2018-02-27,190.6062,2018-02-27,190.6062
...,...,...,...,...,...,...,...
970,271174,4754049,2018-10-26,2018-11-26,1133.0362,\N,\N
971,370585,4299519,2018-08-28,2018-09-28,292.3439,2018-09-27,292.3439
972,570151,2950809,2018-04-09,2018-05-09,407.5168,\N,\N
973,676897,2295494,2018-02-12,2018-03-12,509.3960,2018-03-12,509.396
974,196601,4799348,2018-11-01,2018-12-01,574.1853,2018-12-01,574.1853
975,692847,2695137,2018-03-20,2018-04-20,170.5618,\N,\N
976,305309,4584534,2018-10-04,2018-11-04,460.7690,2018-11-04,460.769
977,669193,4748850,2018-10-25,2018-11-25,182.3079,2018-10-30,182.3079
978,751302,4801279,2018-11-01,2018-12-01,349.0673,2018-12-01,349.0673
979,786662,5143114,2018-12-18,2019-01-18,151.1598,\N,\N
980,841066,3502040,2018-05-23,2018-06-23,107.6503,2018-06-20,107.6503
981,490575,4493980,2018-09-21,2018-10-21,199.7496,2018-10-21,199.7496
982,226937,3226490,2018-04-30,2018-05-30,99.4842,2018-05-29,99.4842
983,230116,5150840,2018-12-19,2019-01-19,883.1816,2019-01-19,883.1816
984,58586,5199079,2018-12-29,2019-01-29,202.6137,2019-01-29,202.6137
985,165216,3652804,2018-06-06,2018-07-06,107.6503,2018-07-04,107.6503
986,271164,2658388,2018-03-17,2018-04-17,1603.4401,2018-04-17,1603.4401
987,620564,4479695,2018-09-19,2018-10-19,291.9417,2018-10-19,291.9417
988,433407,5114749,2018-12-13,2019-01-13,383.4779,2019-01-09,383.4779
989,365485,3477894,2018-05-21,2018-06-21,128.2075,2018-06-20,128.2075
990,164836,4752280,2018-10-26,2018-11-26,337.7227,2018-11-26,337.7227
991,640280,4665246,2018-10-16,2018-11-16,121.1108,2018-11-13,121.1108
992,383938,2857933,2018-04-01,2018-05-01,72.1167,2018-04-21,72.1167
993,855081,3721534,2018-06-12,2018-07-12,258.7045,2018-07-08,258.7045
994,239460,4676579,2018-10-18,2018-11-18,102.1022,2018-11-17,102.1022
995,742659,5081953,2018-12-09,2019-01-09,130.9283,2018-12-28,130.9283
996,424539,2105232,2018-01-24,2018-02-24,133.9311,2018-02-24,133.9311
997,144822,1998185,2018-01-14,2018-02-14,1418.2960,2018-02-10,1418.296
998,19051,3313856,2018-05-07,2018-06-07,325.0977,2018-06-07,325.0977
999,58645,3443915,2018-05-18,2018-06-18,193.4560,2018-06-18,193.456

In [6]:
test.head(1000)

     user_id  listing_id auditing_date    due_date    due_amt
0     498765     5431438    2019-03-12  2019-04-12   138.5903
1      34524     5443211    2019-03-15  2019-04-15   208.0805
2     821741     5461707    2019-03-22  2019-04-22   421.2097
3     263534     5472320    2019-03-26  2019-04-26   212.6537
4     238853     5459750    2019-03-21  2019-04-21   817.4593
5      21071     5393299    2019-03-01  2019-04-01   112.0961
6     415214     5342607    2019-02-16  2019-03-16   947.1053
7     224972     5472584    2019-03-26  2019-04-26   133.7660
8     927224     5445001    2019-03-16  2019-04-16   332.7002
9      57539     5439841    2019-03-14  2019-04-14   234.3764
10    465252     5345026    2019-02-17  2019-03-17   346.8751
11    923055     5454259    2019-03-19  2019-04-19    83.4608
12    572671     5286123    2019-02-01  2019-03-01   384.2833
13    293169     5365398    2019-02-22  2019-03-22   309.1135
14    872741     5308074    2019-02-07  2019-03-07    80.1297
15    301932     5315306    2019-02-09  2019-03-09   116.0648
16    313907     5339163    2019-02-16  2019-03-16   107.1232
17    409702     5469682    2019-03-25  2019-04-25  2552.7352
18    294470     5450748    2019-03-18  2019-04-18   195.7588
19     96445     5350755    2019-02-19  2019-03-19   258.3857
20    600214     5441594    2019-03-15  2019-04-15   283.5383
21    394266     5421090    2019-03-08  2019-04-08   327.7961
22    904873     5443567    2019-03-16  2019-04-16   241.2362
23    712156     5441246    2019-03-15  2019-04-15   830.0356
24    887758     5483499    2019-03-31  2019-04-30   126.9062
25    619186     5423943    2019-03-09  2019-04-09   370.7292
26    920042     5465206    2019-03-23  2019-04-23   201.8222
27    778907     5330756    2019-02-14  2019-03-14  1357.3193
28    763917     5435833    2019-03-13  2019-04-13   284.9764
29    415468     5477715    2019-03-28  2019-04-28  1316.2804
..       ...         ...           ...         ...        ...
970   149489     5353080    2019-02-19  2019-03-19   171.4949
971   875465     5478496    2019-03-28  2019-04-28  1640.9706
972   312299     5343666    2019-02-17  2019-03-17   283.9615
973   485944     5322400    2019-02-11  2019-03-11   170.0368
974   282405     5346152    2019-02-17  2019-03-17    64.0980
975   296387     5446164    2019-03-16  2019-04-16   483.6157
976   891382     5460856    2019-03-21  2019-04-21    72.0278
977   848290     5374633    2019-02-24  2019-03-24   178.4350
978   240382     5309596    2019-02-08  2019-03-08   581.5260
979   782983     5339258    2019-02-16  2019-03-16   163.2353
980   757156     5386664    2019-02-27  2019-03-27   133.7660
981   149694     5404702    2019-03-04  2019-04-04   101.3441
982   262691     5393596    2019-03-01  2019-04-01   290.4309
983   919629     5378885    2019-02-25  2019-03-25   394.2374
984   423668     5288926    2019-02-02  2019-03-02    68.9407
985   270123     5404216    2019-03-03  2019-04-03   256.0991
986   420285     5316555    2019-02-10  2019-03-10    54.9781
987   495475     5478503    2019-03-28  2019-04-28   133.7660
988   501969     5418118    2019-03-07  2019-04-07   166.4457
989   825133     5448956    2019-03-18  2019-04-18   287.0338
990   653568     5418845    2019-03-08  2019-04-08   220.6568
991    48511     5399575    2019-03-02  2019-04-02   198.7159
992    25363     5424897    2019-03-09  2019-04-09  3388.3611
993   356726     5322343    2019-02-11  2019-03-11   559.7633
994   914963     5390901    2019-02-28  2019-03-28   290.4309
995   306046     5366110    2019-02-22  2019-03-22   217.3985
996   325571     5440807    2019-03-15  2019-04-15   943.2806
997   784016     5369166    2019-02-23  2019-03-23   144.3660
998   809977     5339443    2019-02-16  2019-03-16   209.4819
999   578996     5421096    2019-03-08  2019-04-08   110.9000

[1000 rows x 5 columns]

In [7]:
submission.head(1000)

     listing_id  repay_amt  repay_date
0       5431438     4.3309  2019-03-12
1       5431438     4.3309  2019-03-13
2       5431438     4.3309  2019-03-14
3       5431438     4.3309  2019-03-15
4       5431438     4.3309  2019-03-16
5       5431438     4.3309  2019-03-17
6       5431438     4.3309  2019-03-18
7       5431438     4.3309  2019-03-19
8       5431438     4.3309  2019-03-20
9       5431438     4.3309  2019-03-21
10      5431438     4.3309  2019-03-22
11      5431438     4.3309  2019-03-23
12      5431438     4.3309  2019-03-24
13      5431438     4.3309  2019-03-25
14      5431438     4.3309  2019-03-26
15      5431438     4.3309  2019-03-27
16      5431438     4.3309  2019-03-28
17      5431438     4.3309  2019-03-29
18      5431438     4.3309  2019-03-30
19      5431438     4.3309  2019-03-31
20      5431438     4.3309  2019-04-01
21      5431438     4.3309  2019-04-02
22      5431438     4.3309  2019-04-03
23      5431438     4.3309  2019-04-04
24      5431438     4.3309  2019-04-05
25      5431438     4.3309  2019-04-06
26      5431438     4.3309  2019-04-07
27      5431438     4.3309  2019-04-08
28      5431438     4.3309  2019-04-09
29      5431438     4.3309  2019-04-10
..          ...        ...         ...
970     5366805     8.1407  2019-03-03
971     5366805     8.1407  2019-03-04
972     5366805     8.1407  2019-03-05
973     5366805     8.1407  2019-03-06
974     5366805     8.1407  2019-03-07
975     5366805     8.1407  2019-03-08
976     5366805     8.1407  2019-03-09
977     5366805     8.1407  2019-03-10
978     5366805     8.1407  2019-03-11
979     5366805     8.1407  2019-03-12
980     5366805     8.1407  2019-03-13
981     5366805     8.1407  2019-03-14
982     5366805     8.1407  2019-03-15
983     5366805     8.1407  2019-03-16
984     5366805     8.1407  2019-03-17
985     5366805     8.1407  2019-03-18
986     5366805     8.1407  2019-03-19
987     5366805     8.1407  2019-03-20
988     5366805     8.1407  2019-03-21
989     5366805     8.1407  2019-03-22
990     5447431    16.2206  2019-03-17
991     5447431    16.2206  2019-03-18
992     5447431    16.2206  2019-03-19
993     5447431    16.2206  2019-03-20
994     5447431    16.2206  2019-03-21
995     5447431    16.2206  2019-03-22
996     5447431    16.2206  2019-03-23
997     5447431    16.2206  2019-03-24
998     5447431    16.2206  2019-03-25
999     5447431    16.2206  2019-03-26

[1000 rows x 3 columns]

In [8]:
listing_info.head(1000)

     user_id  listing_id auditing_date  term  rate  principal
0     316610     1556649    2017-11-26     9   7.6       4800
1      62002     1556633    2017-11-26     6   7.6       4000
2     192135     1556629    2017-11-26    12   8.0       8660
3     487382     1556628    2017-11-26     9   7.6       4780
4     235186     1556627    2017-11-26     9   7.6       1480
5     320125     1556622    2017-11-26     9   7.6       7750
6     323790     1556621    2017-11-26     9   7.6       1610
7      11641     1556620    2017-11-26    12   8.0       7640
8     308487     1556619    2017-11-26     6   7.6       4740
9     686160     1556615    2017-11-26     6   7.6       5420
10    191788     1556612    2017-11-26     6   7.6       5540
11     60367     1556608    2017-11-26     9   7.6       4720
12     61038     1556606    2017-11-26     6   7.6       4990
13    208727     1556603    2017-11-26     6   7.6       2560
14    223944     1556596    2017-11-26    12   8.0       5070
15    476927     1556595    2017-11-26     9   7.6       3350
16     84782     1556593    2017-11-26     9   7.6       4080
17    112952     1556591    2017-11-26     6   7.6       3500
18    307479     1556589    2017-11-26     6   7.6       6650
19      6767     1556586    2017-11-26     9   7.6       3350
20    708653     1556580    2017-11-26     3   7.2       4450
21    733156     1556577    2017-11-26     6   7.6       6090
22    732159     1556576    2017-11-26     6   7.6       7200
23    507726     1556573    2017-11-26     6   7.6       8850
24    615668     1556570    2017-11-26     6   7.6       3350
25    732696     1556567    2017-11-26     3   7.2       3350
26    290121     1556557    2017-11-26     3   7.2       1710
27    493914     1556551    2017-11-25     3   7.2       1050
28    521915     1556550    2017-11-25     9   7.6       1820
29    433137     1556543    2017-11-25     3   7.2       1390
..       ...         ...           ...   ...   ...        ...
970    40418     1552653    2017-11-25     6   7.6       6190
971   647152     1552646    2017-11-25    12   8.0       3350
972   275159     1552642    2017-11-25     6   7.6       5880
973   315701     1552640    2017-11-25     9   7.6       2260
974    19533     1552639    2017-11-25    12   8.0       8520
975   254398     1552626    2017-11-25     6   7.6       5540
976   471760     1552622    2017-11-25     6   7.6       5620
977   509823     1552621    2017-11-25    12   8.0      12170
978   732264     1552619    2017-11-25     6   7.6       8300
979   465047     1552615    2017-11-24    12   8.0       2250
980   295041     1552610    2017-11-24     9   7.6       3350
981   296974     1552608    2017-11-24     6   7.6      11060
982   314669     1552605    2017-11-24     6   7.6        850
983   568461     1552598    2017-11-24     9   7.6       1500
984   485899     1552597    2017-11-24    12   8.0       1280
985   326153     1552594    2017-11-24     9   7.6       2260
986    40478     1552592    2017-11-24     6   7.6       5100
987   272091     1552591    2017-11-24     6   7.6       1510
988   115385     1552590    2017-11-24    12   8.0       2780
989   371615     1552583    2017-11-24     6   7.6       2760
990   588501     1552577    2017-11-24     6   7.6       2600
991   308314     1552576    2017-11-24     6   7.6       2910
992   437976     1552573    2017-11-24     6   7.6       2260
993   452720     1552570    2017-11-24     6   7.6        990
994   520708     1552568    2017-11-24     6   7.6       1170
995   535587     1552567    2017-11-24     6   7.6       1170
996   460210     1552563    2017-11-24     6   7.6       1340
997   324753     1552561    2017-11-24     6   7.6       2010
998    41506     1552555    2017-11-24     9   7.6       1760
999    72158     1552554    2017-11-24     6   7.6       1970

[1000 rows x 6 columns]

In [9]:
user_taglist.head(1000)

     user_id                                            taglist  insertdate
0     113401  4707|473|3498|4759|1654|298|2869|1164|212|1885...  2018-10-03
1     378358  751|2207|1100|2099|1832|1911|5347|2254|171|360...  2018-11-30
2     434838  877|3795|5628|70|2684|691|719|4228|631|1541|12...  2018-03-25
3     577061  2431|3242|340|1823|4020|4357|164|620|2168|1192...  2018-05-25
4     566753  3980|3125|1819|1333|1177|3972|621|5800|3632|16...  2018-12-02
5     257271  3688|141|1059|1616|247|3527|2788|2431|2706|234...  2018-06-20
6     286758  4073|5474|1583|449|244|676|2306|3755|440|3688|...  2018-03-12
7     279566  2266|1330|3744|424|2018|1318|436|2410|956|2785...  2018-07-15
8     842520  2018|4288|3133|5733|2212|181|942|2072|3440|165...  2018-06-07
9     374058  440|4185|2264|4381|1137|1059|3760|2649|620|530...  2018-04-11
10    306281  1402|60|464|3059|413|693|2743|418|592|263|4757...  2018-05-20
11    377113  1044|1310|2132|3778|2583|2540|197|4201|597|172...  2019-03-23
12    855170  2809|1804|1178|271|3345|421|727|2300|4748|389|...  2018-09-30
13    423094  2365|2017|5690|4666|2466|421|2093|3345|1493|18...  2019-03-02
14    778844  1100|2642|5341|127|4822|1860|1402|2901|3574|27...  2018-11-23
15    797403  5742|2431|1964|620|1297|645|830|1414|340|1567|...  2019-02-22
16    334497  1455|2719|2045|2642|2121|171|287|1154|1401|221...  2018-08-24
17    442457  1955|1824|621|2212|298|3516|2164|4481|5237|448...  2018-11-03
18    789297  1|2869|3228|2306|830|440|247|1042|2853|1994|28...  2018-04-27
19     23690  1264|2140|723|2329|3083|5620|2431|440|4088|182...  2018-12-12
20    799227  2318|1842|3519|1131|2099|1368|1625|5069|1624|3...  2018-11-30
21    321702  2648|3703|2138|1787|2642|1228|1624|4979|2089|3...  2019-02-18
22    506200  2997|2443|3344|2491|303|1679|648|2250|2164|217...  2018-03-21
23    198289  956|753|1703|2212|2785|1831|867|1654|440|1029|...  2018-02-10
24    138835  1885|3771|121|4224|1764|925|3161|2488|5237|418...  2018-08-06
25     40787  2365|727|3129|3901|3603|2500|1198|1178|4705|20...  2018-10-16
26    518762  1478|1237|1679|2018|3177|1055|1654|4755|222|31...  2018-11-25
27    279331  5512|4983|1654|2785|3713|4520|1203|3467|436|42...  2018-12-27
28    342815  340|2739|2431|4088|3569|121|5237|3324|1|944|46...  2018-04-03
29    804875  317|2245|440|5682|567|1318|830|3516|793|3845|8...  2018-07-04
..       ...                                                ...         ...
970   657437  2154|1541|637|2500|70|1753|2300|5628|1649|2710...  2018-10-09
971   349012  1338|730|4669|5681|2929|956|2164|2583|1310|544...  2018-05-09
972   102391  2025|2785|1812|3098|2954|1654|683|2212|1876|26...  2019-03-05
973   807037  2154|3471|719|4167|5639|3866|421|2300|5672|595...  2018-12-18
974   482407  621|715|3508|2730|3448|956|1203|1729|1195|4022...  2018-02-21
975   621761  2538|959|340|2056|2137|328|1059|440|1884|5664|...  2018-07-01
976   569838  3604|1514|1183|310|3181|5841|1100|2353|60|913|...  2019-03-08
977   896237  4185|440|1264|3184|1831|4026|2853|5938|1567|83...  2019-03-14
978   887092  2431|645|620|2582|1974|3516|3362|3083|3438|222...  2018-11-30
979   920782  71|942|3199|5381|621|2164|5579|1654|1812|4332|...  2019-01-31
980   542561  5209|3912|1804|3933|1557|2017|4440|2500|2988|4...  2018-02-17
981   448773  4822|4207|554|2642|686|2199|127|3574|2910|1750...  2019-02-15
982   108421  5480|2494|686|3657|2642|1262|984|5838|4703|161...  2018-12-23
983   420224  2580|3843|3519|3574|5144|1911|1915|920|176|389...  2018-04-26
984   549653  1228|10|2580|1911|2710|1368|1298|3519|5701|351...  2018-06-20
985   796829  751|1271|1228|1911|196|2580|1402|2710|2207|351...  2018-03-06
986   888413  4355|173|2245|2071|941|1964|440|5910|4185|5664...  2018-11-16
987   737418  2710|4014|1624|5033|1154|4339|2207|1439|1681|2...  2018-06-27
988   181429  1749|3200|2648|4703|554|2053|5449|2318|3574|38...  2018-10-12
989   697270  3972|2025|5778|1654|997|1330|1876|177|4991|270...  2018-08-04
990   370759  177|5483|2164|1189|4706|4225|1478|1179|1330|62...  2018-07-15
991   376330  1234|70|1100|727|631|2580|2017|1804|60|747|271...  2018-06-24
992   239648  1602|1280|1749|4711|658|2053|1929|455|3328|190...  2018-03-17
993    44584  1991|2207|1368|2710|1228|3017|1911|2719|467|12...  2018-04-01
994   288627  440|1920|723|51|1481|1884|2348|1544|1598|1654|...  2018-12-17
995   820748  4822|4331|2642|1346|1304|2045|2906|1911|2590|5...  2018-10-03
996    72332  676|2706|2431|247|997|1823|1804|2250|2710|5628...  2019-03-23
997   646213  2500|1234|4036|4865|2300|70|143|1341|2093|2572...  2018-08-15
998   826924  5181|3871|2164|1900|1876|58|3343|1654|4706|147...  2018-09-09
999   258351  1058|3658|1876|50|1654|3498|2785|298|715|1177|...  2018-10-26

[1000 rows x 3 columns]

In [10]:
user_info.head(1000)

,user_id,reg_mon,gender,age,cell_province,id_province,id_city,insertdate
0,483833,2017-04,男,19,c29,c26,c26241,2018-12-11
1,156772,2016-05,男,31,c11,c11,c11159,2018-02-13
2,173388,2016-05,男,34,c02,c02,c02182,2018-08-21
3,199107,2016-07,女,25,c09,c09,c09046,2018-06-05
4,122560,2016-03,男,23,c05,c05,c05193,2018-04-02
5,550399,2017-06,男,30,c08,c07,c07282,2018-04-19
6,414650,2017-02,男,53,c12,c12,\N,2018-10-16
7,275042,2016-10,女,23,c21,c21,c21174,2018-07-10
8,184180,2016-06,男,29,c04,c04,c04348,2018-02-08
9,817503,2018-03,男,25,c06,c25,c25199,2018-11-27
10,396417,2017-02,女,22,c22,c08,c08187,2018-09-21
11,7998,2014-08,女,35,c08,c08,c08030,2018-01-04
12,583450,2017-07,男,20,\N,c08,c08055,2018-08-11
13,378117,2017-01,男,39,c02,c02,c02018,2018-04-08
14,915576,2018-10,男,38,c27,c27,c27330,2019-03-13
15,482926,2017-04,男,21,c05,c05,c05021,2018-11-17
16,743896,2017-12,男,24,c15,c15,c15278,2018-03-25
17,829894,2018-04,男,36,c15,c12,c12117,2018-09-20
18,101077,2016-01,男,32,c23,c23,c23141,2018-12-13
19,717010,2017-11,男,22,c20,c20,c20231,2018-08-01
20,733380,2017-11,女,45,c24,c05,c05082,2018-12-24
21,673858,2017-09,女,28,c25,c25,c25121,2018-11-05
22,628074,2017-08,男,30,c05,c05,c05287,2018-11-05
23,367792,2017-01,男,33,c04,c04,c04069,2018-04-23
24,305708,2016-11,男,27,c02,c02,c02002,2018-09-07
25,576756,2017-07,男,23,c28,c28,c28130,2018-04-22
26,467007,2017-04,男,29,c20,c06,c06195,2018-04-18
27,170553,2016-05,男,40,c04,c11,c11207,2018-05-15
28,298561,2016-10,男,24,c11,c15,c15278,2018-05-03
29,434314,2017-03,女,36,c26,c26,c26210,2018-03-28
...,...,...,...,...,...,...,...,...
970,169940,2016-05,男,41,c08,c08,c08341,2018-12-23
971,55875,2015-09,男,40,c20,c12,c12084,2018-01-27
972,151004,2016-04,女,21,c18,c18,c18061,2019-02-10
973,824821,2018-03,男,32,c04,c06,c06266,2019-03-06
974,334071,2016-12,女,36,c15,c15,c15278,2018-01-15
975,623409,2017-08,男,26,c22,c12,c12190,2018-03-12
976,845359,2018-05,男,22,c08,c26,c26210,2019-02-27
977,312831,2016-11,女,31,c25,c25,c25121,2018-04-01
978,831584,2018-04,女,23,c25,c25,c25121,2019-02-14
979,212565,2016-07,男,26,c04,c17,c17041,2018-02-16
980,349844,2016-12,男,32,c02,c02,c02321,2018-03-20
981,108661,2016-02,男,34,c20,c20,c20108,2018-01-08
982,306634,2016-11,女,26,c19,c19,c19203,2018-06-07
983,366290,2017-01,男,28,c16,c16,c16306,2018-12-14
984,538239,2017-06,男,31,c21,c21,c21134,2018-07-27
985,178891,2016-06,男,35,c04,c05,c05296,2018-02-07
986,378366,2017-01,男,27,c08,c02,c02321,2018-03-21
987,732496,2017-11,男,28,c15,c15,c15278,2018-05-21
988,342896,2016-12,男,26,c06,c06,c06266,2018-06-30
989,757682,2017-12,男,26,c20,c27,c27330,2019-03-21
990,403261,2017-02,男,38,c29,c29,c29304,2018-02-07
991,542180,2017-06,男,34,c14,c21,c21226,2018-06-06
992,474641,2017-04,男,32,c22,c10,c10138,2018-02-06
993,198446,2016-07,男,41,c26,c26,c26210,2018-02-14
994,222313,2016-08,女,29,c27,c27,c27054,2018-07-17
995,414281,2017-02,男,23,c12,c12,c12234,2018-06-30
996,337423,2016-12,男,30,c19,c19,c19097,2018-03-30
997,557666,2017-06,男,27,\N,c11,c11245,2018-07-28
998,391380,2017-02,男,24,c30,c30,c30271,2018-02-15
999,415394,2017-02,男,27,c20,c09,c09313,2018-10-19

In [11]:
user_behavior_logs.head(1000)

     user_id        behavior_time  behavior_type
0     842439  2018-09-13 23:17:21              3
1     842439  2018-09-13 23:17:21              3
2     905214  2018-09-13 15:19:30              3
3     905214  2018-09-13 15:19:30              3
4     842439  2018-09-13 23:17:21              3
5     842439  2018-09-13 23:17:21              3
6     905214  2018-09-13 15:18:28              3
7     905214  2018-09-13 15:19:30              3
8      48629  2018-09-13 14:22:32              3
9     905214  2018-09-13 15:18:28              3
10    905214  2018-09-13 05:37:39              3
11    905214  2018-09-13 15:18:28              3
12    905214  2018-09-13 05:37:39              3
13     48629  2018-09-13 14:22:32              3
14    842439  2018-09-13 23:17:37              3
15     48629  2018-09-13 14:22:32              3
16    842439  2018-09-13 23:17:21              3
17    842439  2018-09-13 23:20:43              3
18     48629  2018-09-13 14:22:32              3
19    842439  2018-09-13 23:17:21              3
20    842439  2018-09-13 23:17:21              3
21    842439  2018-09-13 23:17:21              3
22    905214  2018-09-13 15:18:28              3
23    905214  2018-09-13 15:18:28              3
24     48629  2018-09-13 14:22:32              3
25    905214  2018-09-13 15:18:28              3
26    758967  2018-09-13 13:29:00              3
27    905214  2018-09-13 15:18:28              3
28     48629  2018-09-13 14:22:32              3
29    842439  2018-09-13 23:20:43              3
..       ...                  ...            ...
970   521779  2018-09-25 23:02:15              1
971   467204  2018-09-25 09:07:12              1
972   269926  2018-09-25 11:43:12              1
973   520664  2018-09-25 11:06:32              1
974   107917  2018-09-25 11:05:21              1
975   220213  2018-09-25 21:01:57              1
976    33621  2018-09-25 14:46:58              1
977   619358  2018-09-25 19:58:56              1
978    44185  2018-09-25 19:53:05              1
979   832241  2018-09-25 16:50:31              1
980    81571  2018-09-25 15:24:20              1
981   704881  2018-09-25 10:34:52              1
982   908319  2018-09-25 07:15:30              1
983   906477  2018-09-25 12:54:33              1
984   431417  2018-09-25 09:31:51              1
985   798986  2018-09-25 13:11:10              1
986   467074  2018-09-25 13:53:22              1
987   888499  2018-09-25 13:24:58              1
988   878513  2018-09-25 13:01:00              1
989   704881  2018-09-25 10:14:47              1
990   207336  2018-09-25 07:33:45              1
991   771002  2018-09-25 21:01:30              1
992   411631  2018-09-25 15:38:04              1
993   893275  2018-09-25 13:17:22              1
994   906477  2018-09-25 12:53:55              1
995   766836  2018-09-25 20:42:50              1
996    61712  2018-09-25 17:08:13              1
997   853356  2018-09-25 15:50:23              1
998   409474  2018-09-25 09:39:24              1
999   352205  2018-09-25 08:42:12              1

[1000 rows x 3 columns]

In [12]:
user_repay_logs.head(1000)

,user_id,listing_id,order_id,due_date,due_amt,repay_date,repay_amt
0,748483,1858122,6,2018-06-29,528.6365,2018-06-20,528.6365
1,748483,1858122,4,2018-04-29,528.6365,2200-01-01,528.6365
2,748483,1858122,7,2018-07-29,528.6365,2018-06-20,528.6365
3,748483,1858122,5,2018-05-29,528.6365,2018-05-29,528.6365
4,748483,1858122,1,2018-01-29,528.6365,2018-01-28,528.6365
5,748483,1858122,2,2018-02-28,528.6365,2018-02-16,528.6365
6,748483,1858122,3,2018-03-29,528.6365,2018-03-28,528.6365
7,445749,185013,11,2018-03-05,197.9548,2017-05-25,197.9548
8,445749,185013,6,2017-10-05,197.9548,2017-05-25,197.9548
9,445749,185013,10,2018-02-05,197.9548,2017-05-25,197.9548
10,445749,185013,9,2018-01-05,197.9548,2017-05-25,197.9548
11,445749,185013,8,2017-12-05,197.9548,2017-05-25,197.9548
12,445749,185013,12,2018-04-05,197.9548,2017-05-25,197.9548
13,445749,185013,7,2017-11-05,197.9548,2017-05-25,197.9548
14,445749,185013,4,2017-08-05,197.9548,2017-05-25,197.9548
15,445749,185013,5,2017-09-05,197.9548,2017-05-25,197.9548
16,369368,3900565,3,2018-10-03,385.5078,2018-09-25,385.5078
17,369368,3900565,1,2018-08-03,385.5078,2018-07-22,385.5078
18,369368,3900565,2,2018-09-03,385.5078,2018-08-15,385.5078
19,749102,1699160,4,2018-04-11,338.5357,2018-04-09,338.5357
20,749102,1699160,2,2018-02-11,338.5357,2018-01-29,338.5357
21,749102,1699160,1,2018-01-11,338.5357,2017-12-11,338.5357
22,749102,1699160,5,2018-05-11,338.5357,2018-05-08,338.5357
23,749102,1699160,3,2018-03-11,338.5357,2018-02-20,338.5357
24,180174,67656,12,2018-01-11,403.7929,2017-12-26,403.7929
25,180174,67656,10,2017-11-11,403.7929,2017-11-11,403.7929
26,180174,67656,11,2017-12-11,403.7929,2017-12-11,403.7929
27,180174,67656,9,2017-10-11,403.7929,2017-10-10,403.7929
28,180174,67656,8,2017-09-11,403.7929,2017-09-10,403.7929
29,180174,67656,7,2017-08-11,403.7929,2017-08-10,403.7929
...,...,...,...,...,...,...,...
970,78642,2584862,3,2018-06-10,304.4929,2018-06-10,304.4929
971,78642,2584862,6,2018-09-10,304.4929,2018-09-10,304.4929
972,78642,2584862,5,2018-08-10,304.4929,2018-08-10,304.4929
973,78642,2584862,2,2018-05-10,304.4929,2018-05-10,304.4929
974,78642,2584862,1,2018-04-10,304.4929,2018-04-09,304.4929
975,78642,2584862,4,2018-07-10,304.4929,2018-07-10,304.4929
976,434193,3374110,4,2018-09-12,199.9221,2018-09-12,199.9221
977,434193,3374110,6,2018-11-12,199.9221,2018-11-12,199.9221
978,434193,3374110,1,2018-06-12,199.9221,2018-06-12,199.9221
979,434193,3374110,2,2018-07-12,199.9221,2018-07-11,199.9221
980,434193,3374110,3,2018-08-12,199.9221,2018-08-12,199.9221
981,434193,3374110,5,2018-10-12,199.9221,2018-10-12,199.9221
982,111271,37298,12,2017-12-07,306.5672,2017-11-30,306.5672
983,287101,1828356,2,2018-02-26,290.7934,2018-02-05,290.7934
984,287101,1828356,3,2018-03-26,290.7934,2018-03-19,290.7934
985,287101,1828356,1,2018-01-26,290.7934,2018-01-22,290.7934
986,562804,1101970,6,2018-04-03,186.2521,2018-01-26,186.2521
987,499698,1199046,6,2018-04-16,145.2424,2018-03-30,145.2424
988,499698,1199046,3,2018-01-16,145.2424,2018-01-15,145.2424
989,499698,1199046,5,2018-03-16,145.2424,2018-03-01,145.2424
990,499698,1199046,2,2017-12-16,145.2424,2017-11-22,145.2424
991,499698,1199046,4,2018-02-16,145.2424,2018-02-08,145.2424
992,547737,774700,3,2017-11-15,1959.1871,2017-11-10,1959.1871
993,425317,1611463,7,2018-07-01,231.6127,2017-12-24,231.6127
994,425317,1611463,6,2018-06-01,231.6127,2017-12-24,231.6127
995,425317,1611463,5,2018-05-01,231.6127,2017-12-24,231.6127
996,425317,1611463,4,2018-04-01,231.6127,2017-12-24,231.6127
997,425317,1611463,3,2018-03-01,231.6127,2017-12-24,231.6127
998,425317,1611463,1,2018-01-01,231.6127,2017-12-24,231.6127
999,425317,1611463,2,2018-02-01,231.6127,2017-12-24,231.6127

### 一、处理训练集

In [13]:
#合并train和user_info
train_userinfo = pd.merge(train, user_info, on='user_id', how='outer')

In [14]:
train_userinfo.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,reg_mon,gender,age,cell_province,id_province,id_city,insertdate
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,2017-12,男,21,c20,c20,c20089,2018-04-24
1,748147,4905220.0,2018-11-13,2018-12-13,54.9781,2018-12-13,54.9781,2017-12,男,21,c20,c20,c20089,2018-04-24
2,672952,3698760.0,2018-06-09,2018-07-09,258.7045,2018-07-08,258.7045,2017-09,男,37,c14,c17,c17250,2018-06-04
3,672952,3643208.0,2018-06-05,2018-07-05,386.1742,2018-07-04,386.1742,2017-09,男,37,c14,c17,c17250,2018-06-04
4,404196,2355665.0,2018-02-18,2018-03-18,307.9270,\N,\N,2017-02,男,24,c04,c04,c04251,2018-02-17
5,342769,1994522.0,2018-01-13,2018-02-13,252.9809,2018-02-13,252.9809,2016-12,男,23,c17,c17,c17246,2018-01-12
6,828139,3602352.0,2018-06-01,2018-07-01,107.6503,2018-06-25,107.6503,2018-04,男,23,c02,c17,c17096,2018-05-31
7,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,2018-02,男,31,c31,c31,c31067,2018-12-30
8,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,2018-02,男,30,c31,c31,c31067,2018-10-24
9,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,2018-02,男,31,c31,c31,c31067,2018-12-30
10,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,2018-02,男,30,c31,c31,c31067,2018-10-24
11,95223,3779424.0,2018-06-19,2018-07-19,3730.9948,2018-07-19,3730.9948,2016-01,女,24,c23,c23,c23141,2018-06-18
12,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,2016-02,女,31,c25,c25,c25090,2018-03-24
13,115500,5070774.0,2018-12-07,2019-01-07,171.7065,2019-01-07,171.7065,2016-02,女,31,c25,c25,c25090,2018-03-24
14,515940,2464315.0,2018-02-28,2018-03-28,133.9311,2018-03-26,133.9311,2017-05,男,26,c04,c23,c23141,2018-02-27
15,757631,4509276.0,2018-09-23,2018-10-23,394.3774,\N,\N,2017-12,男,24,c09,c09,c09313,2018-07-16
16,757631,4017319.0,2018-07-17,2018-08-17,139.9952,2018-08-17,139.9952,2017-12,男,24,c09,c09,c09313,2018-07-16
17,757631,4299880.0,2018-08-28,2018-09-28,300.2337,2018-09-22,300.2337,2017-12,男,24,c09,c09,c09313,2018-07-16
18,549337,2998189.0,2018-04-12,2018-05-12,145.1170,2018-04-12,145.117,2017-06,女,22,c26,c26,c26156,2018-02-28
19,549337,2479594.0,2018-03-01,2018-04-01,133.9311,2018-03-09,133.9311,2017-06,女,22,c26,c26,c26156,2018-02-28
20,25687,3703512.0,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221,2015-05,男,32,c02,c02,c02182,2018-06-05
21,25687,3663077.0,2018-06-06,2018-07-06,292.1939,2018-07-06,292.1939,2015-05,男,32,c02,c02,c02182,2018-06-05
22,321937,4798285.0,2018-10-31,2018-11-30,292.3439,2018-11-30,292.3439,2016-11,女,40,c12,c12,c12135,2018-10-30
23,616214,3135386.0,2018-04-23,2018-05-23,104.1686,2018-05-22,104.1686,2017-08,女,31,c04,c04,c04270,2018-04-22
24,360342,3774626.0,2018-06-18,2018-07-18,259.7528,2018-07-18,259.7528,2017-01,男,24,c20,c20,c20249,2018-05-20
25,360342,3480942.0,2018-05-21,2018-06-21,165.7472,2018-06-18,165.7472,2017-01,男,24,c20,c20,c20249,2018-05-20
26,360342,4128443.0,2018-08-02,2018-09-02,441.9171,2018-09-02,441.9171,2017-01,男,24,c20,c20,c20249,2018-05-20
27,360342,3612020.0,2018-06-02,2018-07-02,260.0988,2018-07-02,260.0988,2017-01,男,24,c20,c20,c20249,2018-05-20
28,174405,3032919.0,2018-04-14,2018-05-14,634.1695,2018-05-09,634.1695,2016-05,男,26,c14,c23,c23141,2018-04-13
29,809809,3745431.0,2018-06-14,2018-07-14,1131.5995,2018-07-14,1131.5995,2018-03,男,31,c02,c27,c27330,2018-06-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,689992,2960453.0,2018-04-09,2018-05-09,887.1504,2018-05-02,887.1504,2017-10,女,26,c13,c13,c13003,2018-04-08
971,449295,3235955.0,2018-05-01,2018-06-01,133.9311,2018-05-29,133.9311,2017-03,男,24,c20,c09,\N,2018-04-30
972,673332,4695985.0,2018-10-20,2018-11-20,1221.1755,2018-11-20,1221.1755,2017-09,男,21,c28,c28,c28112,2018-10-19
973,380104,5137888.0,2018-12-17,2019-01-17,780.4691,2019-01-15,780.4691,2017-01,男,26,c03,c03,c03236,2018-12-16
974,818666,3590144.0,2018-05-31,2018-06-30,256.3104,2018-06-30,256.3104,2018-03,男,30,c02,c05,c05126,2018-05-30
975,891663,4634890.0,2018-10-11,2018-11-11,165.6042,2018-11-06,165.6042,2018-07,女,21,c23,c23,c23141,2018-10-10
976,528459,3224183.0,2018-04-30,2018-05-30,175.8477,2018-05-25,175.8477,2017-06,男,31,c02,c02,c02163,2018-04-29
977,528459,3870145.0,2018-06-29,2018-07-29,322.3938,2018-07-21,322.3938,2017-06,男,31,c02,c02,c02163,2018-04-29
978,642712,3550266.0,2018-05-27,2018-06-27,145.2424,2018-06-24,145.2424,2017-09,女,22,c04,c04,c04125,2018-01-17
979,642712,2037643.0,2018-01-18,2018-02-18,133.9311,2018-02-12,133.9311,2017-09,女,22,c04,c04,c04125,2018-01-17
980,405347,4133432.0,2018-08-04,2018-09-04,146.5229,2018-08-22,146.5229,2017-02,男,33,c27,c27,c27026,2018-08-03
981,201180,1879316.0,2018-01-01,2018-02-01,1520.1752,2018-01-28,1520.1752,2016-07,男,32,c05,c20,c20188,2017-12-31
982,544344,4967790.0,2018-11-23,2018-12-23,1790.7086,2018-11-24,1790.7086,2017-06,男,24,c06,c31,c31288,2018-10-22
983,544344,4967790.0,2018-11-23,2018-12-23,1790.7086,2018-11-24,1790.7086,2017-06,男,25,c06,c31,c31288,2019-02-20
984,544344,5113492.0,2018-12-13,2019-01-13,917.1747,2018-12-13,917.1747,2017-06,男,24,c06,c31,c31288,2018-10-22
985,544344,5113492.0,2018-12-13,2019-01-13,917.1747,2018-12-13,917.1747,2017-06,男,25,c06,c31,c31288,2019-02-20
986,544344,4725107.0,2018-10-23,2018-11-23,1792.7825,2018-10-25,1792.7825,2017-06,男,24,c06,c31,c31288,2018-10-22
987,544344,4725107.0,2018-10-23,2018-11-23,1792.7825,2018-10-25,1792.7825,2017-06,男,25,c06,c31,c31288,2019-02-20
988,134278,4160673.0,2018-08-08,2018-09-08,307.9270,\N,\N,2016-03,女,36,c29,c29,c29063,2018-08-07
989,525908,3525056.0,2018-05-25,2018-06-25,220.9290,2018-06-24,220.929,2017-05,男,29,c27,c27,c27180,2018-05-24
990,618028,3853845.0,2018-06-27,2018-07-27,385.5078,2018-06-29,385.5078,2017-08,女,25,c16,c16,c16146,2018-02-22
991,618028,2696894.0,2018-03-20,2018-04-20,144.9917,2018-03-20,144.9917,2017-08,女,25,c16,c16,c16146,2018-02-22
992,618028,3524177.0,2018-05-25,2018-06-25,579.2616,2018-06-07,579.2616,2017-08,女,25,c16,c16,c16146,2018-02-22
993,618028,2393039.0,2018-02-23,2018-03-23,157.9700,2018-02-24,157.97,2017-08,女,25,c16,c16,c16146,2018-02-22
994,624267,4446177.0,2018-09-15,2018-10-15,944.5556,2018-10-15,944.5556,2017-08,男,27,c22,c12,c12022,2018-09-14
995,642283,3145535.0,2018-04-24,2018-05-24,1156.1574,2018-05-24,1156.1574,2017-09,男,35,c27,c27,c27224,2018-04-23
996,498100,3396761.0,2018-05-15,2018-06-15,693.6944,\N,\N,2017-05,男,31,c05,c05,c05204,2018-05-14
997,246643,4015612.0,2018-07-16,2018-08-16,1167.2009,\N,\N,2016-08,女,35,c05,c05,c05147,2018-07-15
998,621255,4353037.0,2018-09-03,2018-10-03,211.1857,2018-10-01,211.1857,2017-08,女,20,c04,c04,c04270,2018-09-02
999,91595,2579749.0,2018-03-10,2018-04-10,144.9917,2018-04-05,144.9917,2015-12,男,39,c05,c05,c05191,2018-03-09

In [15]:
train_userinfo.drop(['reg_mon','cell_province','id_province','id_city','insertdate'],axis=1,inplace=True)

In [16]:
train_userinfo.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21
1,748147,4905220.0,2018-11-13,2018-12-13,54.9781,2018-12-13,54.9781,男,21
2,672952,3698760.0,2018-06-09,2018-07-09,258.7045,2018-07-08,258.7045,男,37
3,672952,3643208.0,2018-06-05,2018-07-05,386.1742,2018-07-04,386.1742,男,37
4,404196,2355665.0,2018-02-18,2018-03-18,307.9270,\N,\N,男,24
5,342769,1994522.0,2018-01-13,2018-02-13,252.9809,2018-02-13,252.9809,男,23
6,828139,3602352.0,2018-06-01,2018-07-01,107.6503,2018-06-25,107.6503,男,23
7,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,31
8,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,30
9,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,31
10,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,30
11,95223,3779424.0,2018-06-19,2018-07-19,3730.9948,2018-07-19,3730.9948,女,24
12,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31
13,115500,5070774.0,2018-12-07,2019-01-07,171.7065,2019-01-07,171.7065,女,31
14,515940,2464315.0,2018-02-28,2018-03-28,133.9311,2018-03-26,133.9311,男,26
15,757631,4509276.0,2018-09-23,2018-10-23,394.3774,\N,\N,男,24
16,757631,4017319.0,2018-07-17,2018-08-17,139.9952,2018-08-17,139.9952,男,24
17,757631,4299880.0,2018-08-28,2018-09-28,300.2337,2018-09-22,300.2337,男,24
18,549337,2998189.0,2018-04-12,2018-05-12,145.1170,2018-04-12,145.117,女,22
19,549337,2479594.0,2018-03-01,2018-04-01,133.9311,2018-03-09,133.9311,女,22
20,25687,3703512.0,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221,男,32
21,25687,3663077.0,2018-06-06,2018-07-06,292.1939,2018-07-06,292.1939,男,32
22,321937,4798285.0,2018-10-31,2018-11-30,292.3439,2018-11-30,292.3439,女,40
23,616214,3135386.0,2018-04-23,2018-05-23,104.1686,2018-05-22,104.1686,女,31
24,360342,3774626.0,2018-06-18,2018-07-18,259.7528,2018-07-18,259.7528,男,24
25,360342,3480942.0,2018-05-21,2018-06-21,165.7472,2018-06-18,165.7472,男,24
26,360342,4128443.0,2018-08-02,2018-09-02,441.9171,2018-09-02,441.9171,男,24
27,360342,3612020.0,2018-06-02,2018-07-02,260.0988,2018-07-02,260.0988,男,24
28,174405,3032919.0,2018-04-14,2018-05-14,634.1695,2018-05-09,634.1695,男,26
29,809809,3745431.0,2018-06-14,2018-07-14,1131.5995,2018-07-14,1131.5995,男,31
...,...,...,...,...,...,...,...,...,...
970,689992,2960453.0,2018-04-09,2018-05-09,887.1504,2018-05-02,887.1504,女,26
971,449295,3235955.0,2018-05-01,2018-06-01,133.9311,2018-05-29,133.9311,男,24
972,673332,4695985.0,2018-10-20,2018-11-20,1221.1755,2018-11-20,1221.1755,男,21
973,380104,5137888.0,2018-12-17,2019-01-17,780.4691,2019-01-15,780.4691,男,26
974,818666,3590144.0,2018-05-31,2018-06-30,256.3104,2018-06-30,256.3104,男,30
975,891663,4634890.0,2018-10-11,2018-11-11,165.6042,2018-11-06,165.6042,女,21
976,528459,3224183.0,2018-04-30,2018-05-30,175.8477,2018-05-25,175.8477,男,31
977,528459,3870145.0,2018-06-29,2018-07-29,322.3938,2018-07-21,322.3938,男,31
978,642712,3550266.0,2018-05-27,2018-06-27,145.2424,2018-06-24,145.2424,女,22
979,642712,2037643.0,2018-01-18,2018-02-18,133.9311,2018-02-12,133.9311,女,22
980,405347,4133432.0,2018-08-04,2018-09-04,146.5229,2018-08-22,146.5229,男,33
981,201180,1879316.0,2018-01-01,2018-02-01,1520.1752,2018-01-28,1520.1752,男,32
982,544344,4967790.0,2018-11-23,2018-12-23,1790.7086,2018-11-24,1790.7086,男,24
983,544344,4967790.0,2018-11-23,2018-12-23,1790.7086,2018-11-24,1790.7086,男,25
984,544344,5113492.0,2018-12-13,2019-01-13,917.1747,2018-12-13,917.1747,男,24
985,544344,5113492.0,2018-12-13,2019-01-13,917.1747,2018-12-13,917.1747,男,25
986,544344,4725107.0,2018-10-23,2018-11-23,1792.7825,2018-10-25,1792.7825,男,24
987,544344,4725107.0,2018-10-23,2018-11-23,1792.7825,2018-10-25,1792.7825,男,25
988,134278,4160673.0,2018-08-08,2018-09-08,307.9270,\N,\N,女,36
989,525908,3525056.0,2018-05-25,2018-06-25,220.9290,2018-06-24,220.929,男,29
990,618028,3853845.0,2018-06-27,2018-07-27,385.5078,2018-06-29,385.5078,女,25
991,618028,2696894.0,2018-03-20,2018-04-20,144.9917,2018-03-20,144.9917,女,25
992,618028,3524177.0,2018-05-25,2018-06-25,579.2616,2018-06-07,579.2616,女,25
993,618028,2393039.0,2018-02-23,2018-03-23,157.9700,2018-02-24,157.97,女,25
994,624267,4446177.0,2018-09-15,2018-10-15,944.5556,2018-10-15,944.5556,男,27
995,642283,3145535.0,2018-04-24,2018-05-24,1156.1574,2018-05-24,1156.1574,男,35
996,498100,3396761.0,2018-05-15,2018-06-15,693.6944,\N,\N,男,31
997,246643,4015612.0,2018-07-16,2018-08-16,1167.2009,\N,\N,女,35
998,621255,4353037.0,2018-09-03,2018-10-03,211.1857,2018-10-01,211.1857,女,20
999,91595,2579749.0,2018-03-10,2018-04-10,144.9917,2018-04-05,144.9917,男,39

In [17]:
#合并train_userinfo和user_taglist
train_userinfo_tag = pd.merge(train_userinfo, user_taglist, on='user_id', how='outer')

In [18]:
train_userinfo_tag.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age,taglist,insertdate
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,127|5539|5556|1749|1100|239|1803|1911|2519|351...,2018-11-12
1,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,4706|3778|1058|3067|4481|1654|956|1478|2540|11...,2018-04-24
2,748147,4905220.0,2018-11-13,2018-12-13,54.9781,2018-12-13,54.9781,男,21,127|5539|5556|1749|1100|239|1803|1911|2519|351...,2018-11-12
3,748147,4905220.0,2018-11-13,2018-12-13,54.9781,2018-12-13,54.9781,男,21,4706|3778|1058|3067|4481|1654|956|1478|2540|11...,2018-04-24
4,672952,3698760.0,2018-06-09,2018-07-09,258.7045,2018-07-08,258.7045,男,37,1421|3116|5145|5201|2785|1812|4671|3125|1058|2...,2018-06-04
5,672952,3643208.0,2018-06-05,2018-07-05,386.1742,2018-07-04,386.1742,男,37,1421|3116|5145|5201|2785|1812|4671|3125|1058|2...,2018-06-04
6,404196,2355665.0,2018-02-18,2018-03-18,307.9270,\N,\N,男,24,4617|436|1338|3871|1667|2828|4121|1478|1654|30...,2018-02-17
7,342769,1994522.0,2018-01-13,2018-02-13,252.9809,2018-02-13,252.9809,男,23,1100|472|3422|3296|4949|4025|3328|974|4092|218...,2018-01-12
8,828139,3602352.0,2018-06-01,2018-07-01,107.6503,2018-06-25,107.6503,男,23,5784|3643|2017|3432|469|5151|1625|1753|2762|15...,2018-05-31
9,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,31,2093|1557|5831|3901|469|2298|5822|5628|2500|57...,2018-10-24
10,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,31,631|5784|948|3898|3864|4173|2017|5376|727|2365...,2018-12-30
11,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,30,2093|1557|5831|3901|469|2298|5822|5628|2500|57...,2018-10-24
12,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,30,631|5784|948|3898|3864|4173|2017|5376|727|2365...,2018-12-30
13,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,31,2093|1557|5831|3901|469|2298|5822|5628|2500|57...,2018-10-24
14,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,31,631|5784|948|3898|3864|4173|2017|5376|727|2365...,2018-12-30
15,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,30,2093|1557|5831|3901|469|2298|5822|5628|2500|57...,2018-10-24
16,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,30,631|5784|948|3898|3864|4173|2017|5376|727|2365...,2018-12-30
17,95223,3779424.0,2018-06-19,2018-07-19,3730.9948,2018-07-19,3730.9948,女,24,NaN,NaN
18,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,NaN,NaN
19,115500,5070774.0,2018-12-07,2019-01-07,171.7065,2019-01-07,171.7065,女,31,NaN,NaN
20,515940,2464315.0,2018-02-28,2018-03-28,133.9311,2018-03-26,133.9311,男,26,NaN,NaN
21,757631,4509276.0,2018-09-23,2018-10-23,394.3774,\N,\N,男,24,NaN,NaN
22,757631,4017319.0,2018-07-17,2018-08-17,139.9952,2018-08-17,139.9952,男,24,NaN,NaN
23,757631,4299880.0,2018-08-28,2018-09-28,300.2337,2018-09-22,300.2337,男,24,NaN,NaN
24,549337,2998189.0,2018-04-12,2018-05-12,145.1170,2018-04-12,145.117,女,22,NaN,NaN
25,549337,2479594.0,2018-03-01,2018-04-01,133.9311,2018-03-09,133.9311,女,22,NaN,NaN
26,25687,3703512.0,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221,男,32,733|70|2490|5628|2500|3603|4027|467|2677|2093|...,2018-06-05
27,25687,3703512.0,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221,男,32,3063|1262|2855|1966|4104|2896|1862|1506|1626|1...,2018-06-09
28,25687,3663077.0,2018-06-06,2018-07-06,292.1939,2018-07-06,292.1939,男,32,733|70|2490|5628|2500|3603|4027|467|2677|2093|...,2018-06-05
29,25687,3663077.0,2018-06-06,2018-07-06,292.1939,2018-07-06,292.1939,男,32,3063|1262|2855|1966|4104|2896|1862|1506|1626|1...,2018-06-09
...,...,...,...,...,...,...,...,...,...,...,...
970,219650,5061061.0,2018-12-06,2019-01-06,1266.0495,2019-01-05,1266.0495,男,37,2540|875|2063|1355|1654|2487|3972|2528|2354|93...,2018-12-05
971,85943,2802222.0,2018-03-28,2018-04-28,133.9311,2018-04-02,133.9311,女,38,4520|3690|3268|3937|687|1812|2314|2977|5512|36...,2018-03-27
972,85943,2802222.0,2018-03-28,2018-04-28,133.9311,2018-04-02,133.9311,女,38,2642|2053|1908|127|1013|3670|1324|369|2045|470...,2018-05-22
973,85943,2802222.0,2018-03-28,2018-04-28,133.9311,2018-04-02,133.9311,女,38,981|5475|4578|1178|4666|3864|4853|3998|2566|37...,2018-08-27
974,85943,3500525.0,2018-05-23,2018-06-23,246.1127,2018-06-23,246.1127,女,38,4520|3690|3268|3937|687|1812|2314|2977|5512|36...,2018-03-27
975,85943,3500525.0,2018-05-23,2018-06-23,246.1127,2018-06-23,246.1127,女,38,2642|2053|1908|127|1013|3670|1324|369|2045|470...,2018-05-22
976,85943,3500525.0,2018-05-23,2018-06-23,246.1127,2018-06-23,246.1127,女,38,981|5475|4578|1178|4666|3864|4853|3998|2566|37...,2018-08-27
977,85943,4300924.0,2018-08-28,2018-09-28,197.2230,2018-09-28,197.223,女,38,4520|3690|3268|3937|687|1812|2314|2977|5512|36...,2018-03-27
978,85943,4300924.0,2018-08-28,2018-09-28,197.2230,2018-09-28,197.223,女,38,2642|2053|1908|127|1013|3670|1324|369|2045|470...,2018-05-22
979,85943,4300924.0,2018-08-28,2018-09-28,197.2230,2018-09-28,197.223,女,38,981|5475|4578|1178|4666|3864|4853|3998|2566|37...,2018-08-27
980,275093,1963923.0,2018-01-10,2018-02-10,220.9290,2018-02-06,220.929,男,44,2817|3688|1059|440|203|3324|1656|2675|922|2785...,2018-01-09
981,725819,3961718.0,2018-07-09,2018-08-09,180.9695,2018-08-09,180.9695,男,32,1058|3778|544|2785|1679|1654|1900|5406|3980|47...,2018-07-08
982,389899,3118198.0,2018-04-21,2018-05-21,83.7761,2018-05-15,83.7761,男,26,NaN,NaN
983,547797,2853558.0,2018-04-01,2018-05-01,144.9917,2018-05-01,144.9917,男,25,2710|1402|1911|60|2580|3064|2093|1100|1617|250...,2018-03-31
984,547797,2853558.0,2018-04-01,2018-05-01,144.9917,2018-05-01,144.9917,男,25,440|2649|4031|1059|1674|2203|3155|3497|4620|83...,2018-07-08
985,547797,3963812.0,2018-07-09,2018-08-09,83.7761,2018-08-09,83.7761,男,25,2710|1402|1911|60|2580|3064|2093|1100|1617|250...,2018-03-31
986,547797,3963812.0,2018-07-09,2018-08-09,83.7761,2018-08-09,83.7761,男,25,440|2649|4031|1059|1674|2203|3155|3497|4620|83...,2018-07-08
987,350216,4496093.0,2018-09-21,2018-10-21,331.2086,2018-10-20,331.2086,男,31,2045|5746|2590|2642|5506|3883|470|2682|2580|67...,2018-09-20
988,485085,4035827.0,2018-07-19,2018-08-19,102.1022,2018-08-19,102.1022,男,32,1617|4683|2901|3574|1911|2642|4633|1927|5628|2...,2018-04-11
989,485085,4035827.0,2018-07-19,2018-08-19,102.1022,2018-08-19,102.1022,男,32,2580|3574|1617|2642|4683|1911|2710|4621|1219|3...,2018-07-18
990,485085,2993052.0,2018-04-12,2018-05-12,1886.6009,2018-05-11,1886.6009,男,32,1617|4683|2901|3574|1911|2642|4633|1927|5628|2...,2018-04-11
991,485085,2993052.0,2018-04-12,2018-05-12,1886.6009,2018-05-11,1886.6009,男,32,2580|3574|1617|2642|4683|1911|2710|4621|1219|3...,2018-07-18
992,582957,4875280.0,2018-11-09,2018-12-09,144.6564,2018-12-09,144.6564,男,26,1178|2017|727|4672|614|2677|1804|2365|5884|537...,2018-11-08
993,237620,5054394.0,2018-12-05,2019-01-05,748.7497,2019-01-05,748.7497,女,46,5628|3866|1940|1234|2500|5669|1392|1541|2677|7...,2018-12-04
994,194179,4255505.0,2018-08-22,2018-09-22,394.6893,2018-09-19,394.6893,男,27,2691|2017|283|631|2015|1804|70|691|2678|171|18...,2018-08-21
995,413808,2727311.0,2018-03-22,2018-04-22,147.6676,2018-04-19,147.6676,男,34,1804|2684|1178|727|4524|3710|691|2045|903|2017...,2018-01-30
996,413808,2175753.0,2018-01-31,2018-02-28,131.6416,2018-02-28,131.6416,男,34,1804|2684|1178|727|4524|3710|691|2045|903|2017...,2018-01-30
997,461501,3828699.0,2018-06-24,2018-07-24,182.5191,2018-07-21,182.5191,男,27,830|58|1567|2168|1885|4020|440|449|2869|328|27...,2018-06-23
998,461501,3828699.0,2018-06-24,2018-07-24,182.5191,2018-07-21,182.5191,男,27,4309|3713|2443|3475|1796|1654|2879|3414|44|147...,2018-05-21
999,461501,3491100.0,2018-05-22,2018-06-22,163.6935,2018-06-21,163.6935,男,27,830|58|1567|2168|1885|4020|440|449|2869|328|27...,2018-06-23

In [19]:
train_userinfo_tag.drop(['taglist','insertdate'],axis=1,inplace=True)

In [20]:
train_userinfo_tag.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21
1,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21
2,748147,4905220.0,2018-11-13,2018-12-13,54.9781,2018-12-13,54.9781,男,21
3,748147,4905220.0,2018-11-13,2018-12-13,54.9781,2018-12-13,54.9781,男,21
4,672952,3698760.0,2018-06-09,2018-07-09,258.7045,2018-07-08,258.7045,男,37
5,672952,3643208.0,2018-06-05,2018-07-05,386.1742,2018-07-04,386.1742,男,37
6,404196,2355665.0,2018-02-18,2018-03-18,307.9270,\N,\N,男,24
7,342769,1994522.0,2018-01-13,2018-02-13,252.9809,2018-02-13,252.9809,男,23
8,828139,3602352.0,2018-06-01,2018-07-01,107.6503,2018-06-25,107.6503,男,23
9,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,31
10,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,31
11,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,30
12,795130,4745662.0,2018-10-25,2018-11-25,201.0499,2018-11-09,201.0499,男,30
13,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,31
14,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,31
15,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,30
16,795130,5205970.0,2018-12-31,2019-01-31,180.2390,2019-01-28,180.239,男,30
17,95223,3779424.0,2018-06-19,2018-07-19,3730.9948,2018-07-19,3730.9948,女,24
18,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31
19,115500,5070774.0,2018-12-07,2019-01-07,171.7065,2019-01-07,171.7065,女,31
20,515940,2464315.0,2018-02-28,2018-03-28,133.9311,2018-03-26,133.9311,男,26
21,757631,4509276.0,2018-09-23,2018-10-23,394.3774,\N,\N,男,24
22,757631,4017319.0,2018-07-17,2018-08-17,139.9952,2018-08-17,139.9952,男,24
23,757631,4299880.0,2018-08-28,2018-09-28,300.2337,2018-09-22,300.2337,男,24
24,549337,2998189.0,2018-04-12,2018-05-12,145.1170,2018-04-12,145.117,女,22
25,549337,2479594.0,2018-03-01,2018-04-01,133.9311,2018-03-09,133.9311,女,22
26,25687,3703512.0,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221,男,32
27,25687,3703512.0,2018-06-10,2018-07-10,199.9221,2018-07-09,199.9221,男,32
28,25687,3663077.0,2018-06-06,2018-07-06,292.1939,2018-07-06,292.1939,男,32
29,25687,3663077.0,2018-06-06,2018-07-06,292.1939,2018-07-06,292.1939,男,32
...,...,...,...,...,...,...,...,...,...
970,219650,5061061.0,2018-12-06,2019-01-06,1266.0495,2019-01-05,1266.0495,男,37
971,85943,2802222.0,2018-03-28,2018-04-28,133.9311,2018-04-02,133.9311,女,38
972,85943,2802222.0,2018-03-28,2018-04-28,133.9311,2018-04-02,133.9311,女,38
973,85943,2802222.0,2018-03-28,2018-04-28,133.9311,2018-04-02,133.9311,女,38
974,85943,3500525.0,2018-05-23,2018-06-23,246.1127,2018-06-23,246.1127,女,38
975,85943,3500525.0,2018-05-23,2018-06-23,246.1127,2018-06-23,246.1127,女,38
976,85943,3500525.0,2018-05-23,2018-06-23,246.1127,2018-06-23,246.1127,女,38
977,85943,4300924.0,2018-08-28,2018-09-28,197.2230,2018-09-28,197.223,女,38
978,85943,4300924.0,2018-08-28,2018-09-28,197.2230,2018-09-28,197.223,女,38
979,85943,4300924.0,2018-08-28,2018-09-28,197.2230,2018-09-28,197.223,女,38
980,275093,1963923.0,2018-01-10,2018-02-10,220.9290,2018-02-06,220.929,男,44
981,725819,3961718.0,2018-07-09,2018-08-09,180.9695,2018-08-09,180.9695,男,32
982,389899,3118198.0,2018-04-21,2018-05-21,83.7761,2018-05-15,83.7761,男,26
983,547797,2853558.0,2018-04-01,2018-05-01,144.9917,2018-05-01,144.9917,男,25
984,547797,2853558.0,2018-04-01,2018-05-01,144.9917,2018-05-01,144.9917,男,25
985,547797,3963812.0,2018-07-09,2018-08-09,83.7761,2018-08-09,83.7761,男,25
986,547797,3963812.0,2018-07-09,2018-08-09,83.7761,2018-08-09,83.7761,男,25
987,350216,4496093.0,2018-09-21,2018-10-21,331.2086,2018-10-20,331.2086,男,31
988,485085,4035827.0,2018-07-19,2018-08-19,102.1022,2018-08-19,102.1022,男,32
989,485085,4035827.0,2018-07-19,2018-08-19,102.1022,2018-08-19,102.1022,男,32
990,485085,2993052.0,2018-04-12,2018-05-12,1886.6009,2018-05-11,1886.6009,男,32
991,485085,2993052.0,2018-04-12,2018-05-12,1886.6009,2018-05-11,1886.6009,男,32
992,582957,4875280.0,2018-11-09,2018-12-09,144.6564,2018-12-09,144.6564,男,26
993,237620,5054394.0,2018-12-05,2019-01-05,748.7497,2019-01-05,748.7497,女,46
994,194179,4255505.0,2018-08-22,2018-09-22,394.6893,2018-09-19,394.6893,男,27
995,413808,2727311.0,2018-03-22,2018-04-22,147.6676,2018-04-19,147.6676,男,34
996,413808,2175753.0,2018-01-31,2018-02-28,131.6416,2018-02-28,131.6416,男,34
997,461501,3828699.0,2018-06-24,2018-07-24,182.5191,2018-07-21,182.5191,男,27
998,461501,3828699.0,2018-06-24,2018-07-24,182.5191,2018-07-21,182.5191,男,27
999,461501,3491100.0,2018-05-22,2018-06-22,163.6935,2018-06-21,163.6935,男,27

In [21]:
#合并train_userinfo_tag和user_behavior_logs
train_userinfo_tag_behavior = pd.merge(train_userinfo_tag, user_behavior_logs, on='user_id', how='outer')

In [22]:
train_userinfo_tag_behavior.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age,behavior_time,behavior_type
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-10-22 05:49:58,1.0
1,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-10-22 06:02:44,1.0
2,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-10-22 06:02:35,1.0
3,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-07-03 22:53:02,1.0
4,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-04-22 21:29:09,1.0
5,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-04-22 21:05:09,1.0
6,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-04-22 20:57:50,1.0
7,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-04-22 20:58:19,2.0
8,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:20:35,1.0
9,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-07-16 16:18:39,1.0
10,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
11,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:43,3.0
12,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
13,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:43,3.0
14,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
15,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
16,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
17,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
18,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:43,3.0
19,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
20,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:43,3.0
21,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 16:51:40,3.0
22,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-25 01:01:06,2.0
23,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:25:21,3.0
24,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:25:21,3.0
25,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:25:22,3.0
26,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:20:53,3.0
27,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:25:22,3.0
28,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:20:53,3.0
29,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2018-02-24 08:25:21,3.0
...,...,...,...,...,...,...,...,...,...,...,...
970,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-05-17 12:01:04,1.0
971,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-05-22 10:52:33,1.0
972,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-03-19 14:37:56,1.0
973,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-09-19 09:55:14,1.0
974,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-09-14 11:00:13,1.0
975,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-10-05 09:34:35,1.0
976,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-09-06 13:42:39,1.0
977,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-09-06 09:31:14,1.0
978,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-08-27 15:32:07,1.0
979,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-05-20 23:52:36,1.0
980,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-09-14 18:11:01,1.0
981,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-07-11 11:27:05,1.0
982,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-02-12 09:30:09,1.0
983,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-07-01 01:07:43,1.0
984,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-05-19 23:43:02,1.0
985,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-05-19 12:55:55,1.0
986,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-01-28 11:59:23,1.0
987,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-04-24 10:43:41,1.0
988,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-07-05 14:02:56,1.0
989,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-03-23 09:57:56,1.0
990,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-08-23 09:00:44,1.0
991,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-08-23 13:19:27,1.0
992,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-08-21 15:08:25,1.0
993,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-08-21 12:08:53,1.0
994,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-10-16 10:03:17,1.0
995,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-01-03 15:36:55,1.0
996,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-05-24 09:58:14,1.0
997,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-01-19 13:20:28,2.0
998,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-04-02 10:48:08,1.0
999,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2018-10-26 11:31:23,1.0

In [23]:
train_userinfo_tag_behavior.drop('behavior_time',axis=1,inplace=True)

In [24]:
train_userinfo_tag_behavior.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age,behavior_type
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
1,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
2,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
3,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
4,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
5,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
6,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
7,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2.0
8,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
9,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,1.0
10,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
11,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
12,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
13,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
14,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
15,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
16,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
17,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
18,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
19,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
20,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
21,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
22,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,2.0
23,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
24,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
25,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
26,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
27,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
28,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
29,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21,3.0
...,...,...,...,...,...,...,...,...,...,...
970,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
971,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
972,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
973,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
974,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
975,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
976,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
977,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
978,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
979,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
980,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
981,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
982,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
983,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
984,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
985,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
986,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
987,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
988,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
989,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
990,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
991,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
992,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
993,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
994,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
995,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
996,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
997,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,2.0
998,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0
999,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31,1.0

In [25]:
listing_info.drop('auditing_date',axis=1,inplace=True)

In [26]:
#合并train_userinfo_tag和listing_info
train_userinfo_tag_behavior_list = pd.merge(train_userinfo_tag_behavior, listing_info, on=['user_id','listing_id'], how='outer')

In [27]:
train_userinfo_tag_behavior_list.head(1000)

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age,behavior_type,term,rate,principal
0,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
1,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
2,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
3,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
4,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
5,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
6,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
7,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,2.0,9.0,7.2,630.0
8,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
9,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
10,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
11,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
12,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
13,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
14,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
15,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
16,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
17,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
18,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
19,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
20,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
21,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
22,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,2.0,9.0,7.2,630.0
23,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
24,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
25,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
26,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
27,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
28,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
29,748147,3163926.0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
971,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
972,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
973,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
974,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
975,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
976,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
977,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
978,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
979,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
980,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
981,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
982,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
983,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
984,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
985,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
986,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
987,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
988,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
989,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
990,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
991,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
992,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
993,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
994,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
995,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
996,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
997,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,2.0,6.0,8.0,6100.0
998,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
999,115500,2759330.0,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0

In [28]:
#去掉训练集'user_id','listing_id'
train_userinfo_tag_behavior_list.drop(['user_id','listing_id'],axis=1,inplace=True)

In [29]:
train_userinfo_tag_behavior_list.head(1000)

,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age,behavior_type,term,rate,principal
0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
1,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
2,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
3,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
4,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
5,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
6,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
7,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,2.0,9.0,7.2,630.0
8,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
9,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,1.0,9.0,7.2,630.0
10,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
11,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
12,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
13,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
14,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
15,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
16,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
17,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
18,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
19,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
20,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
21,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
22,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,2.0,9.0,7.2,630.0
23,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
24,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
25,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
26,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
27,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
28,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
29,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,男,21.0,3.0,9.0,7.2,630.0
...,...,...,...,...,...,...,...,...,...,...,...
970,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
971,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
972,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
973,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
974,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
975,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
976,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
977,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
978,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
979,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
980,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
981,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
982,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
983,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
984,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
985,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
986,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
987,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
988,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
989,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
990,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
991,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
992,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
993,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
994,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
995,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
996,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
997,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,2.0,6.0,8.0,6100.0
998,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0
999,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,女,31.0,1.0,6.0,8.0,6100.0

In [30]:
#替换性别为0-男 1-女
sex_mapping = {"男": 0, "女": 1}
    
train_userinfo_tag_behavior_list['gender'] = train_userinfo_tag_behavior_list['gender'].map(sex_mapping)
    
#统一处理年龄分段
train_userinfo_tag_behavior_list.loc[ train_userinfo_tag_behavior_list['age'] <= 16, 'age'] = 0,
train_userinfo_tag_behavior_list.loc[(train_userinfo_tag_behavior_list['age'] > 16) & (train_userinfo_tag_behavior_list['age'] <= 26), 'age'] = 1,
train_userinfo_tag_behavior_list.loc[(train_userinfo_tag_behavior_list['age'] > 26) & (train_userinfo_tag_behavior_list['age'] <= 36), 'age'] = 2,
train_userinfo_tag_behavior_list.loc[(train_userinfo_tag_behavior_list['age'] > 36) & (train_userinfo_tag_behavior_list['age'] <= 62), 'age'] = 3,
train_userinfo_tag_behavior_list.loc[ train_userinfo_tag_behavior_list['age'] > 62, 'age'] = 4

In [31]:
train_userinfo_tag_behavior_list.head(1000)

,auditing_date,due_date,due_amt,repay_date,repay_amt,gender,age,behavior_type,term,rate,principal
0,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
1,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
2,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
3,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
4,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
5,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
6,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
7,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,2.0,9.0,7.2,630.0
8,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
9,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,1.0,9.0,7.2,630.0
10,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
11,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
12,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
13,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
14,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
15,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
16,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
17,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
18,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
19,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
20,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
21,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
22,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,2.0,9.0,7.2,630.0
23,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
24,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
25,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
26,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
27,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
28,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
29,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,0.0,1.0,3.0,9.0,7.2,630.0
...,...,...,...,...,...,...,...,...,...,...,...
970,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
971,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
972,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
973,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
974,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
975,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
976,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
977,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
978,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
979,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
980,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
981,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
982,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
983,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
984,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
985,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
986,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
987,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
988,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
989,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
990,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
991,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
992,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
993,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
994,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
995,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
996,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
997,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,2.0,6.0,8.0,6100.0
998,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0
999,2018-03-25,2018-04-25,1040.5302,2018-04-25,1040.5302,1.0,2.0,1.0,6.0,8.0,6100.0

In [32]:
import time  
import datetime  
  
#计算两个日期相差天数，自定义函数名，和两个日期的变量名。  
def Caltime(date1,date2):  
    #%Y-%m-%d为日期格式，其中的-可以用其他代替或者不写，但是要统一，同理后面的时分秒也一样；可以只计算日期，不计算时间。  
    #date1=time.strptime(date1,"%Y-%m-%d %H:%M:%S")   
    #date2=time.strptime(date2,"%Y-%m-%d %H:%M:%S")  
    date1=time.strptime(date1,"%Y-%m-%d")  
    date2=time.strptime(date2,"%Y-%m-%d")  
    #根据上面需要计算日期还是日期时间，来确定需要几个数组段。下标0表示年，小标1表示月，依次类推...  
    #date1=datetime.datetime(date1[0],date1[1],date1[2],date1[3],date1[4],date1[5])  
    #date2=datetime.datetime(date2[0],date2[1],date2[2],date2[3],date2[4],date2[5])  
    date1=datetime.datetime(date1[0],date1[1],date1[2])  
    date2=datetime.datetime(date2[0],date2[1],date2[2])  
    #返回两个变量相差的值，就是相差天数  
    return date2-date1

In [33]:
train_userinfo_tag_behavior_list.shape[0]

102023539

In [ ]:
#处理缺失值
train_userinfo_tag_behavior_list.fillna("0")

In [35]:
#计算借款日期和还款日期的偏移量
s1 = pd.Series(name='auditing_repay_bias', index=train_userinfo_tag_behavior_list.index)
s2 = pd.Series(name='repay_due_bias', index=train_userinfo_tag_behavior_list.index)

In [48]:
for i in range(train_userinfo_tag_behavior_list.shape[0]):
    s1.append(pd.Series(Caltime(train_userinfo_tag_behavior_list["auditing_date"][i],
                                train_userinfo_tag_behavior_list["repay_date"][i])))
    s2.append(pd.Series(Caltime(train_userinfo_tag_behavior_list["due_date"][i],
                                train_userinfo_tag_behavior_list["repay_date"][i])))

ValueError: time data '\\N' does not match format '%Y-%m-%d'

In [ ]:
train_userinfo_tag_behavior_list = pd.concat([train_userinfo_tag_behavior_list, s1], axis=1)
train_userinfo_tag_behavior_list = pd.concat([train_userinfo_tag_behavior_list, s2], axis=1)

In [ ]:
train_userinfo_tag_behavior_list.head(1000)

In [ ]:
#去掉训练集'auditing_date','due_date','repay_date'
train_userinfo_tag_behavior_list.drop(['auditing_date','due_date','repay_date'],axis=1,inplace=True)

In [ ]:
train_userinfo_tag_behavior_list.head(1000)

In [ ]:
#借款金额=还款金额，借款金额!=还款金额
s3 = pd.Series(name='due_repay_amt_bias', index=train_userinfo_tag_behavior_list.index)

for i in range(train_userinfo_tag_behavior_list.shape[0]):
    s3.append(pd.Series(Caltime(train_userinfo_tag_behavior_list["due_amt"][i],
                                train_userinfo_tag_behavior_list["repay_amt"][i])))

In [ ]:
train_userinfo_tag_behavisor_list = pd.concat([train_userinfo_tag_behavior_list, s3], axis=1)

In [ ]:
#替换借款和还款金额之差为，0-相等 1-不相等
train_userinfo_tag_behavior_list.loc[train_userinfo_tag_behavior_list['due_repay_amt_bias'] == 0, 'due_repay_amt_bias'] = 0,
train_userinfo_tag_behavior_list.loc[train_userinfo_tag_behavior_list['due_repay_amt_bias'] != 0, 'due_repay_amt_bias'] = 1

In [ ]:
train_userinfo_tag_behavior_list.head(1000)

### 二、处理测试集

In [14]:
#合并test和user_info
test_userinfo = pd.merge(test, user_info, on='user_id', how='outer')

#去掉训练集'reg_mon','cell_province','id_province','id_city','insertdate'
test_userinfo.drop(['reg_mon','cell_province','id_province','id_city','insertdate'],axis=1,inplace=True)

#合并test_userinfo和user_taglist
test_userinfo_tag = pd.merge(test_userinfo, user_taglist, on='user_id', how='outer')

#去掉训练集'taglist','insertdate'
test_userinfo_tag.drop(['taglist','insertdate'],axis=1,inplace=True)

#合并test_userinfo_tag和user_behavior_logs
test_userinfo_tag_behavior = pd.merge(test_userinfo_tag, user_behavior_logs, on='user_id', how='outer')

#去掉训练集'behavior_time'
test_userinfo_tag_behavior.drop('behavior_time',axis=1,inplace=True)

#去掉训练集'auditing_date'
listing_info.drop('auditing_date',axis=1,inplace=True)

#合并test_userinfo_tag_behavior和listing_info
test_userinfo_tag_behavior_list = pd.merge(test_userinfo_tag_behavior, listing_info, on=['user_id','listing_id'], how='outer')

#去掉训练集'user_id','listing_id'
test_userinfo_tag_behavior_list.drop(['user_id','listing_id'],axis=1,inplace=True)

In [ ]:
#替换性别为0-男 1-女
sex_mapping = {"男": 0, "女": 1}
    
test_userinfo_tag_behavior_list['gender'] = test_userinfo_tag_behavior_list['gender'].map(sex_mapping)
    
#统一处理年龄分段
test_userinfo_tag_behavior_list.loc[ test_userinfo_tag_behavior_list['age'] <= 16, 'age'] = 0,
test_userinfo_tag_behavior_list.loc[(test_userinfo_tag_behavior_list['age'] > 16) & (test_userinfo_tag_behavior_list['age'] <= 26), 'age'] = 1,
test_userinfo_tag_behavior_list.loc[(test_userinfo_tag_behavior_list['age'] > 26) & (test_userinfo_tag_behavior_list['age'] <= 36), 'age'] = 2,
test_userinfo_tag_behavior_list.loc[(test_userinfo_tag_behavior_list['age'] > 36) & (test_userinfo_tag_behavior_list['age'] <= 62), 'age'] = 3,
test_userinfo_tag_behavior_list.loc[ test_userinfo_tag_behavior_list['age'] > 62, 'age'] = 4

In [ ]:
#计算借款日期和还款日期的偏移量
s4 = pd.Series(name='auditing_repay_bias', index=test_userinfo_tag_behavior_list.index)
s5 = pd.Series(name='repay_due_bias', index=test_userinfo_tag_behavior_list.index)

### 三、合并处理测试集和训练集

In [ ]:
new_train = train_userinfo_tag_behavior_list
new_test = test_userinfo_tag_behavior_list

In [16]:
#合并训练集和测试集
new_train_test_data = [new_train, new_test]

In [ ]:
new_train_test_data.head(1000)

In [ ]:
y_train = new_train[""]

# Step2:特征工程

In [ ]:
# model_selection和ensemble通常一起使用
from sklearn import model_selection
from sklearn import ensemble
NUM_OF_FEATURES = 10
def rmsle(y, pred):
    return np.sqrt(np.mean(np.power(y - pred, 2)))

x1_amt, x2_amt, y1_amt, y2_amt = model_selection.train_test_split(
    new_train, y_train.values, test_size=0.20, random_state=5)

model = ensemble.RandomForestRegressor(n_jobs=-1, random_state=7)
model.fit(x1_amt, y1_amt)

print(rmsle(y2_amt, model.predict(x2_amt)))

col = pd.DataFrame({'importance': model.feature_importances_, 'feature': new_train.columns}).sort_values(
    by=['importance'], ascending=[False])[:NUM_OF_FEATURES]['feature'].values

In [ ]:
col_amt #最重要的20个特征

In [ ]:
new_train = train_userinfo_tag_behavior_list[col]
new_test = test_userinfo_tag_behavior_list[col]
new_train.shape
new_test.shape