In [16]:
import pandas as pd
import numpy as np
import time
import datetime
import tqdm

In [31]:
#计算两个日期相差天数，自定义函数名，和两个日期的变量名。
def Caltime(date1,date2):
    if date1 =="\\N":
        return -1
    #%Y-%m-%d为日期格式，其中的-可以用其他代替或者不写，但是要统一，同理后面的时分秒也一样；可以只计算日期，不计算时间。
    #date1=time.strptime(date1,"%Y-%m-%d %H:%M:%S") 
    #date2=time.strptime(date2,"%Y-%m-%d %H:%M:%S")
    date1=time.strptime(date1,"%Y-%m-%d")
    date2=time.strptime(date2,"%Y-%m-%d")
    #根据上面需要计算日期还是日期时间，来确定需要几个数组段。下标0表示年，小标1表示月，依次类推...
    #date1=datetime.datetime(date1[0],date1[1],date1[2],date1[3],date1[4],date1[5])
    #date2=datetime.datetime(date2[0],date2[1],date2[2],date2[3],date2[4],date2[5])
    date1=datetime.datetime(date1[0],date1[1],date1[2])
    date2=datetime.datetime(date2[0],date2[1],date2[2])
    #返回两个变量相差的值，就是相差天数
    return (date2-date1).days

def get_date(date1, days):
    date1=time.strptime(date1,"%Y-%m-%d")
    date1=datetime.datetime(date1[0],date1[1],date1[2])
    return str(date1-datetime.timedelta(days=days))[0:10]

In [3]:
train_data = pd.read_csv("./data/train.csv")
testt_data = pd.read_csv("./data/test.csv")
train_data['repay_amt'] = train_data.repay_amt.map(lambda x: np.nan if x == "\\N" else float(x))
train_data['auditing_month'] = train_data.auditing_date.map(lambda x:x[0:7])
train_data['early_repay_days'] = train_data.apply(lambda x: Caltime(x[5],x[3]), axis=1)

# 设置合理的线下验证集

In [43]:
train_data.head()

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt,auditing_month,early_repay_days
0,748147,3163926,2018-04-25,2018-05-25,72.1167,2018-05-25,72.1167,2018-04,0
1,672952,3698760,2018-06-09,2018-07-09,258.7045,2018-07-08,258.7045,2018-06,1
2,404196,2355665,2018-02-18,2018-03-18,307.9270,\N,NaN,2018-02,-1
3,342769,1994522,2018-01-13,2018-02-13,252.9809,2018-02-13,252.9809,2018-01,0
4,828139,3602352,2018-06-01,2018-07-01,107.6503,2018-06-25,107.6503,2018-06,6

# 规则一
假设所有的用户都是准时还款
## 线上得分
28399.990100

In [44]:
result = testt_data[['listing_id','due_date','auditing_date','due_amt']]
result.columns = ['listing_id','repay_date','auditing_date','repay_amt']
result[['listing_id','repay_date','repay_amt']].to_csv("./result/001_rule01.csv",index=None)

# 规则二
按照用户还款时间的分布进行加权划分
## 线上得分
10015.451300

In [10]:
repay_days_distribution = train_data.groupby('early_repay_days').size().reset_index().rename(columns={0:"sums"})

In [13]:
repay_days_distribution['rate'] = repay_days_distribution['sums']/sum(repay_days_distribution['sums'])

In [77]:
# 这部分代码比较慢，有优化的方案希望同学能告知！！！

In [66]:
new_result = {
    'listing_id':[],
    'repay_date':[],
    'repay_amt':[]
}

for i,row in tqdm.tqdm_notebook(enumerate(result.values)):
    tmp_listing_id = row[0]
    tmp_repay_date = row[1]
    tmp_auditing_date = row[2]
    tmp_repay_amt = row[3]
    
    for j in range(Caltime(tmp_auditing_date,tmp_repay_date)):
        new_result['listing_id'].append(tmp_listing_id)
        new_result['repay_date'].append(get_date(tmp_repay_date,j))
        counts = repay_days_distribution[repay_days_distribution.early_repay_days==j]['sums']
        sums = repay_days_distribution[repay_days_distribution.early_repay_days<=Caltime(tmp_auditing_date,tmp_repay_date)]['sums'].sum()
        rates = counts/sums
        new_result['repay_amt'].append(tmp_repay_amt*rates.values[0])

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [67]:
new_result = pd.DataFrame(new_result)

In [73]:
new_result['repay_amt'] = new_result['repay_amt'].map(lambda x:'{:.4f}'.format(x))

In [74]:
new_result.to_csv("./result/001_rule02.csv",index=None)