In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils
#sorted(glob('../data/*'))

In [2]:
df = utils.read_pickles('../data/installments_payments').sort_values(['SK_ID_CURR', 'DAYS_ENTRY_PAYMENT'], ascending=[True, False])
df.head()

100%|██████████| 20/20 [00:14<00:00,  1.40it/s]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,days_delayed_payment,amt_ratio,amt_delta,days_weighted_delay,days_weighted_delay_tsw3
2624024,1369693,100001,2.0,4,-1619.0,-1628.0,17397.900,17397.900,9.0,1.0,0.0,9.0,4.6044
3458712,1369693,100001,1.0,3,-1649.0,-1660.0,3951.000,3951.000,11.0,1.0,0.0,11.0,5.5220
1478621,1369693,100001,1.0,1,-1709.0,-1715.0,3951.000,3951.000,6.0,1.0,0.0,6.0,2.9130
2568722,1369693,100001,1.0,2,-1679.0,-1715.0,3951.000,3951.000,36.0,1.0,0.0,36.0,17.4780
3435373,1851984,100001,1.0,4,-2856.0,-2856.0,3980.925,3980.925,0.0,1.0,0.0,0.0,0.0000

In [3]:
train = utils.load_train(['SK_ID_CURR', 'TARGET'])

100%|██████████| 20/20 [00:03<00:00,  5.52it/s]

In [4]:
df = pd.merge(df, train, on='SK_ID_CURR', how='left')

In [3]:
EDA.df_info(df)

Shape: (13605401, 9)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt
SK_ID_PREV,int64,0,997752,1000001.0,1.903365e+06,2843499.000,536202.905546,"[2360056, 2592574, 1017477, 1449382, 1746731, ...","[293, 279, 248, 243, 236, 223, 222, 220, 219, ..."
SK_ID_CURR,int64,0,339587,100001.0,2.784449e+05,456255.000,102718.310411,"[145728, 296205, 453103, 189699, 186851, 17269...","[372, 350, 347, 344, 337, 336, 332, 324, 323, ..."
NUM_INSTALMENT_VERSION,float64,0,65,0.0,8.566373e-01,178.000,1.035216,"[1.0, 0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, ...","[8485004, 4082498, 620283, 237063, 55274, 4840..."
NUM_INSTALMENT_NUMBER,int64,0,277,1.0,1.887090e+01,277.000,26.664067,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[1004160, 985716, 968279, 943502, 880007, 8279..."
DAYS_INSTALMENT,float64,0,2922,-2922.0,-1.042270e+03,-1.000,800.946284,"[-120.0, -180.0, -150.0, -119.0, -149.0, -210....","[11512, 11212, 11194, 11183, 11144, 11140, 111..."
DAYS_ENTRY_PAYMENT,float64,2905,3039,-4921.0,-1.051114e+03,-1.000,800.585883,"[-91.0, -182.0, -154.0, -92.0, -245.0, -273.0,...","[13103, 13090, 13071, 12646, 12405, 12151, 119..."
AMT_INSTALMENT,float64,0,902539,0.0,1.705091e+04,3771487.845,50570.254429,"[9000.0, 2250.0, 4500.0, 6750.0, 3375.0, 5625....","[254062, 179120, 174143, 173659, 149941, 96362..."
AMT_PAYMENT,float64,2905,944235,0.0,1.723822e+04,3771487.845,54735.783981,"[9000.0, 2250.0, 4500.0, 6750.0, 3375.0, 5625....","[248757, 182654, 178309, 170360, 141832, 91165..."
days_delayed_payment,float64,2905,2404,-2884.0,8.787405e+00,3189.000,25.539900,"[0.0, 1.0, 2.0, 3.0, 9.0, 4.0, 8.0, 6.0, 7.0, ...","[3146350, 525380, 507963, 459365, 454549, 4525..."

In [4]:
df.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT', 'days_delayed_payment'],
      dtype='object')

In [5]:
ids = df.SK_ID_CURR.unique()

In [7]:
ids1 = df[df.TARGET==1].SK_ID_CURR.unique()

In [8]:
tmp = df[df.SK_ID_CURR==np.random.choice(ids1)]
tmp

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,days_delayed_payment,amt_ratio,amt_delta,days_weighted_delay,days_weighted_delay_tsw3,TARGET
9813174,1870175,357318,1.0,3,-15.0,-28.0,10712.160,10712.160,13.0,1.000000,0.000,13.000000,12.890800,1.0
9813175,1870175,357318,1.0,2,-45.0,-60.0,10712.160,10712.160,15.0,1.000000,0.000,15.000000,14.730000,1.0
9813176,1870175,357318,1.0,1,-75.0,-89.0,10712.160,10712.160,14.0,1.000000,0.000,14.000000,13.626200,1.0
9813177,1982773,357318,1.0,12,-624.0,-607.0,7898.625,7892.955,-17.0,0.999282,5.670,-16.987797,-13.894319,1.0
9813178,1982773,357318,2.0,101,-608.0,-607.0,1350.000,1350.000,-1.0,1.000000,0.000,-1.000000,-0.817900,1.0
9813179,1982773,357318,1.0,11,-654.0,-649.0,7935.165,7929.495,-5.0,0.999285,5.670,-4.996427,-4.023623,1.0
9813180,1982773,357318,1.0,12,-624.0,-649.0,7898.625,5.670,25.0,0.000718,7892.955,0.017946,0.014452,1.0
9813181,1982773,357318,1.0,10,-684.0,-679.0,7935.165,7929.495,-5.0,0.999285,5.670,-4.996427,-3.978655,1.0
9813182,1982773,357318,1.0,11,-654.0,-679.0,7935.165,5.670,25.0,0.000715,7929.495,0.017864,0.014225,1.0
9813183,1982773,357318,1.0,10,-684.0,-709.0,7935.165,5.670,25.0,0.000715,7929.495,0.017864,0.014064,1.0
9813184,1982773,357318,1.0,9,-714.0,-709.0,7935.165,7929.495,-5.0,0.999285,5.670,-4.996427,-3.933687,1.0
9813185,1982773,357318,1.0,9,-714.0,-756.0,7935.165,5.670,42.0,0.000715,7929.495,0.030011,0.023204,1.0
9813186,1982773,357318,1.0,8,-744.0,-756.0,7935.165,7935.165,12.0,1.000000,0.000,12.000000,9.278400,1.0
9813187,1982773,357318,1.0,7,-774.0,-798.0,7935.165,7935.165,24.0,1.000000,0.000,24.000000,18.254400,1.0
9813188,1982773,357318,1.0,6,-804.0,-825.0,7935.165,7935.165,21.0,1.000000,0.000,21.000000,15.802500,1.0
9813189,1982773,357318,1.0,5,-834.0,-848.0,7935.165,7935.165,14.0,1.000000,0.000,14.000000,10.438400,1.0
9813190,1982773,357318,1.0,4,-864.0,-883.0,7935.165,7935.165,19.0,1.000000,0.000,19.000000,13.966900,1.0
9813191,1982773,357318,1.0,3,-894.0,-919.0,7935.165,7935.165,25.0,1.000000,0.000,25.000000,18.107500,1.0
9813192,1982773,357318,1.0,2,-924.0,-947.0,7935.165,7935.165,23.0,1.000000,0.000,23.000000,16.465700,1.0
9813193,1982773,357318,1.0,1,-954.0,-975.0,7935.165,7935.165,21.0,1.000000,0.000,21.000000,14.857500,1.0

In [9]:
tmp = df[df.SK_ID_CURR==np.random.choice(ids1)]
tmp

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,days_delayed_payment,amt_ratio,amt_delta,days_weighted_delay,days_weighted_delay_tsw3,TARGET
3779142,2762719,199463,2.0,5,-1994.0,-2001.0,8189.46,8189.46,7.0,1.0,0.0,7.0,2.7979,1.0
3779143,2762719,199463,1.0,4,-2024.0,-2063.0,4194.18,4194.18,39.0,1.0,0.0,39.0,14.8629,1.0
3779144,2762719,199463,1.0,3,-2054.0,-2089.0,4194.18,4194.18,35.0,1.0,0.0,35.0,13.0655,1.0
3779145,2762719,199463,1.0,2,-2084.0,-2136.0,4194.18,4194.18,52.0,1.0,0.0,52.0,18.6784,1.0
3779146,2762719,199463,1.0,1,-2114.0,-2136.0,4194.18,4194.18,22.0,1.0,0.0,22.0,7.9024,1.0