In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils
#sorted(glob('../data/*'))

In [2]:
df = utils.read_pickles('../data/bureau').sort_values(['SK_ID_CURR', 'DAYS_CREDIT'], ascending=[True, False])
df.head()

100%|██████████| 20/20 [00:03<00:00,  5.65it/s]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,days_end-cre,days_fact-cre,days_fact-end,days_update-cre,days_update-end,days_update-fact,ant_cre-debt,ant_cre-debt-by-limit,ant_debt-p-limit,ant_cre-by-debt-p-limit,AMT_CREDIT_SUM-by-days_end-cre,AMT_CREDIT_SUM-by-days_fact-cre,AMT_CREDIT_SUM-by-days_fact-end,AMT_CREDIT_SUM-by-days_update-cre,AMT_CREDIT_SUM-by-days_update-end
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.0,373239.0,0.0,0.0,Consumer credit,-16,10822.5,1827.0,NaN,NaN,33,-1794.0,NaN,4761.0,inf,373239.0,1.012756,206.896552,NaN,NaN,11454.545455,-210.702341
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.0,110281.5,NaN,0.0,Consumer credit,-10,9364.5,731.0,NaN,NaN,310,-421.0,NaN,58063.5,NaN,NaN,NaN,230.294118,NaN,NaN,543.048387,-399.869359
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.0,113166.0,0.0,0.0,Consumer credit,-6,4630.5,1461.0,NaN,NaN,553,-908.0,NaN,224514.0,inf,113166.0,2.983935,231.129363,NaN,NaN,610.632911,-371.894273
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.0,0.0,0.0,0.0,Consumer credit,-155,0.0,365.0,304.0,-61.0,702,337.0,398.0,112500.0,inf,0.0,inf,308.219178,370.065789,-1844.262295,160.256410,333.827893
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.0,0.0,0.0,0.0,Consumer credit,-155,0.0,365.0,335.0,-30.0,724,359.0,389.0,91620.0,inf,0.0,inf,251.013699,273.492537,-3054.000000,126.546961,255.208914

In [3]:
EDA.df_info(df)

Shape: (1716428, 32)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt
SK_ID_CURR,int64,0,305811,1.000010e+05,2.782149e+05,4.562550e+05,1.029386e+05,"[120860, 169704, 318065, 251643, 425396, 29580...","[116, 94, 78, 61, 60, 59, 58, 57, 56, 55]"
SK_ID_BUREAU,int64,0,1716428,5.000000e+06,5.924434e+06,6.843457e+06,5.322657e+05,"[5000822, 6547158, 6487797, 6481654, 6483703, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
CREDIT_ACTIVE,object,0,4,NaN,NaN,NaN,NaN,"['Closed', 'Active', 'Sold', 'Bad debt']","[1079273, 630607, 6527, 21]"
CREDIT_CURRENCY,object,0,4,NaN,NaN,NaN,NaN,"['currency 1', 'currency 2', 'currency 3', 'cu...","[1715020, 1224, 174, 10]"
DAYS_CREDIT,int64,0,2923,-2.922000e+03,-1.142108e+03,0.000000e+00,7.951649e+02,"[-364, -336, -273, -357, -343, -315, -371, -36...","[1330, 1248, 1238, 1218, 1203, 1202, 1196, 119..."
CREDIT_DAY_OVERDUE,int64,0,942,0.000000e+00,8.181666e-01,2.792000e+03,3.654443e+01,"[0, 30, 60, 13, 8, 9, 7, 14, 17, 11]","[1712211, 311, 126, 103, 103, 93, 92, 91, 77, 75]"
DAYS_CREDIT_ENDDATE,float64,105553,14096,-4.206000e+04,5.105174e+02,3.119900e+04,4.994220e+03,"[0.0, 3.0, -7.0, 1.0, -14.0, -10.0, 4.0, -2.0,...","[883, 845, 837, 830, 787, 782, 777, 772, 771, ..."
DAYS_ENDDATE_FACT,float64,633653,2917,-4.202300e+04,-1.017437e+03,0.000000e+00,7.140106e+02,"[-329.0, -273.0, -301.0, -91.0, -154.0, -84.0,...","[811, 794, 791, 785, 783, 783, 782, 778, 778, ..."
AMT_CREDIT_MAX_OVERDUE,float64,1124488,68251,0.000000e+00,3.825418e+03,1.159872e+08,2.060316e+05,"[0.0, 1440.0, 225.0, 45.0, 4.5, 90.0, 4500.0, ...","[470650, 688, 405, 377, 315, 222, 220, 192, 19..."
CNT_CREDIT_PROLONG,int64,0,10,0.000000e+00,6.410406e-03,9.000000e+00,9.622391e-02,"[0, 1, 2, 3, 4, 5, 9, 6, 8, 7]","[1707314, 7620, 1222, 191, 54, 21, 2, 2, 1, 1]"
AMT_CREDIT_SUM,float64,13,236708,0.000000e+00,3.549946e+05,5.850000e+08,1.149811e+06,"[0.0, 225000.0, 135000.0, 450000.0, 90000.0, 1...","[66582, 57608, 50195, 37156, 36940, 28840, 265..."
AMT_CREDIT_SUM_DEBT,float64,257669,226537,-4.705600e+06,1.370851e+05,1.701000e+08,6.774011e+05,"[0.0, 4.5, -450.0, 135000.0, 90000.0, 45000.0,...","[1016434, 653, 543, 344, 320, 316, 307, 238, 2..."
AMT_CREDIT_SUM_LIMIT,float64,591780,51726,-5.864061e+05,6.229515e+03,4.705600e+06,4.503203e+04,"[0.0, 135000.0, 4500.0, 45000.0, 90000.0, 1350...","[1050142, 2178, 1474, 1335, 974, 833, 766, 757..."
AMT_CREDIT_SUM_OVERDUE,float64,0,1616,0.000000e+00,3.791276e+01,3.756681e+06,5.937650e+03,"[0.0, 4.5, 9.0, 13.5, 18.0, 22.5, 45.0, 27.0, ...","[1712270, 301, 107, 81, 72, 60, 56, 52, 50, 48]"
CREDIT_TYPE,object,0,15,NaN,NaN,NaN,NaN,"['Consumer credit', 'Credit card', 'Car loan',...","[1251615, 402195, 27690, 18391, 12413, 1975, 1..."
DAYS_CREDIT_UPDATE,int64,0,2982,-4.194700e+04,-5.937483e+02,3.720000e+02,7.207473e+02,"[-7, -8, -11, -15, -12, -10, -9, -13, -6, -14]","[18503, 18462, 16975, 16870, 16827, 16651, 165..."
AMT_ANNUITY,float64,1226791,40321,0.000000e+00,1.571276e+04,1.184534e+08,3.258269e+05,"[0.0, 4500.0, 13500.0, 22500.0, 9000.0, 18000....","[256915, 5182, 3147, 2502, 1725, 1605, 1593, 1..."
days_end-cre,float64,105553,11891,-4.179000e+04,1.676274e+03,3.410500e+04,4.876388e+03,"[1826.0, 365.0, 1096.0, 731.0, 366.0, 730.0, 1...","[119578, 89849, 73964, 41051, 40486, 38273, 36..."
days_fact-cre,float64,633653,2710,-3.968300e+04,3.994822e+02,2.877000e+03,3.720605e+02,"[365.0, 184.0, 183.0, 306.0, 304.0, 366.0, 182...","[23274, 23197, 19464, 16186, 14630, 14618, 137..."
days_fact-end,float64,666442,10536,-4.018700e+04,-4.630359e+02,4.169200e+04,2.870530e+03,"[0.0, 1.0, -29.0, -28.0, 2.0, 3.0, -59.0, 4.0,...","[323837, 34750, 33090, 22554, 12620, 11206, 87..."
days_update-cre,int64,0,3013,-4.164600e+04,5.483594e+02,2.927000e+03,6.018939e+02,"[184, 185, 306, 186, 183, 367, 365, 0, 366, 307]","[14013, 11587, 11177, 11095, 10836, 9850, 9514..."
days_update-end,float64,105553,14441,-4.274200e+04,-1.127743e+03,4.204300e+04,4.864286e+03,"[0.0, 6.0, 2.0, 1.0, 3.0, 5.0, 4.0, -29.0, -28...","[97514, 36644, 31959, 30331, 26538, 24661, 243..."
days_update-fact,float64,633653,3222,-4.165700e+04,1.615812e+02,3.982700e+04,5.100240e+02,"[0.0, 3.0, 1.0, 2.0, 6.0, 4.0, 5.0, 7.0, 8.0, ...","[310485, 82074, 63453, 62402, 49411, 35847, 35..."
ant_cre-debt,float64,257682,317264,-3.962804e+07,2.019430e+05,3.960000e+08,7.510985e+05,"[0.0, 225000.0, 135000.0, 450000.0, 90000.0, 4...","[69881, 27971, 26517, 17080, 16121, 15981, 140..."
ant_cre-debt-by-limit,float64,651970,27638,-inf,NaN,inf,NaN,"[inf, 1.0, -inf, 1.0000000000000002, 0.9999999...","[971404, 35551, 18648, 1902, 843, 828, 828, 47..."
ant_debt-p-limit,float64,591880,184704,-4.484634e+05,1.478107e+05,6.544140e+07,6.636866e+05,"[0.0, 135000.0, 90000.0, 45000.0, 225000.0, 45...","[747860, 6049, 3319, 3272, 2700, 2502, 2265, 2..."
ant_cre-by-debt-p-limit,float64,643885,264021,-1.003426e-02,inf,inf,NaN,"[inf, 1.0, 0.0, 0.5454545454545454, 2.0, 0.980...","[695855, 54504, 1325, 441, 218, 206, 180, 157,..."
AMT_CREDIT_SUM-by-days_end-cre,float64,106135,681140,-5.625000e+05,inf,inf,NaN,"[0.0, 616.4383561643835, 410.5839416058394, 36...","[56017, 5670, 5366, 4930, 4855, 4553, 4488, 44..."
AMT_CREDIT_SUM-by-days_fact-cre,float64,634242,624906,-1.046512e+04,inf,inf,NaN,"[0.0, inf, 1500.0, 2250.0, 368.8524590163934, ...","[29593, 1436, 1131, 1059, 968, 944, 932, 841, ..."
AMT_CREDIT_SUM-by-days_fact-end,float64,670209,422735,-2.812500e+07,inf,inf,NaN,"[inf, -0.0, 45000.0, 13500.0, 135000.0, 225000...","[320070, 21218, 1491, 1460, 1084, 1062, 1059, ..."
AMT_CREDIT_SUM-by-days_update-cre,float64,1116,887718,-9.729711e+06,inf,inf,NaN,"[0.0, inf, 90000.0, 2250.0, 1125.0, 1500.0, 45...","[65479, 8271, 1432, 1306, 1253, 1246, 1194, 11..."
AMT_CREDIT_SUM-by-days_update-end,float64,107168,829594,-2.812500e+07,inf,inf,NaN,"[inf, 0.0, 45000.0, 22500.0, 11250.0, 90000.0,...","[95903, 54984, 2238, 2055, 1253, 1250, 1119, 1..."

In [4]:
df.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY', 'days_end-cre', 'days_fact-cre', 'days_fact-end',
       'days_update-cre', 'days_update-end', 'days_update-fact',
       'ant_cre-debt', 'ant_cre-debt-by-limit', 'ant_debt-p-limit',
       'ant_cre-by-debt-p-limit', 'AMT_CREDIT_SUM-by-days_end-cre',
       'AMT_CREDIT_SUM-by-days_fact-cre', 'AMT_CREDIT_SUM-by-days_fact-end',
       'AMT_CREDIT_SUM-by-days_update-cre',
       'AMT_CREDIT_SUM-by-days_update-end'],
      dtype='object')

In [5]:
ids = df.SK_ID_CURR.unique()

In [4]:
tmp = df[df.SK_ID_CURR.isin(np.random.choice(ids, size=9))]
tmp

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1439216,172665,6693683,Active,currency 1,-235,0,863.0,NaN,0.0,0,1.237500e+06,1095934.500,0.000,0.0,Consumer credit,-48,NaN
1439206,172665,6693672,Active,currency 1,-316,0,-12.0,NaN,0.0,0,9.067050e+04,0.000,0.000,0.0,Consumer credit,-232,NaN
1439209,172665,6693675,Active,currency 1,-362,0,1464.0,NaN,NaN,0,2.452500e+06,1871662.500,0.000,0.0,Consumer credit,-61,NaN
1439205,172665,6693671,Active,currency 1,-366,0,730.0,NaN,0.0,0,2.250000e+05,-450.000,225450.000,0.0,Credit card,-232,NaN
1695342,172665,6693670,Closed,currency 1,-420,0,-145.0,-356.0,0.0,0,7.650000e+04,0.000,0.000,0.0,Consumer credit,-332,NaN
1439215,172665,6693682,Closed,currency 1,-465,0,-373.0,-373.0,0.0,0,1.141819e+05,0.000,0.000,0.0,Consumer credit,-370,NaN
1439207,172665,6693673,Closed,currency 1,-508,0,1318.0,-351.0,NaN,0,1.107000e+06,0.000,0.000,0.0,Consumer credit,-334,NaN
1695343,172665,6693681,Closed,currency 1,-594,0,228.0,-380.0,0.0,0,3.645000e+05,0.000,0.000,0.0,Consumer credit,-376,NaN
1439208,172665,6693674,Closed,currency 1,-1082,0,-351.0,-381.0,NaN,0,1.538550e+05,0.000,0.000,0.0,Consumer credit,-381,NaN
1439212,172665,6693678,Closed,currency 1,-1685,0,-1501.0,-1085.0,NaN,0,5.079600e+04,0.000,NaN,0.0,Consumer credit,-1085,NaN
1439211,172665,6693677,Active,currency 1,-2293,0,-1928.0,NaN,NaN,0,4.500000e+04,NaN,NaN,0.0,Consumer credit,-1935,NaN
1439213,172665,6693679,Active,currency 1,-2371,0,225.0,NaN,NaN,0,6.300000e+05,586111.500,NaN,0.0,Credit card,-26,NaN
1439214,172665,6693680,Active,currency 1,-2373,0,-566.0,NaN,0.0,1,6.300000e+05,511164.000,43888.500,0.0,Credit card,-26,NaN
1439210,172665,6693676,Closed,currency 1,-2553,0,-2201.0,-2187.0,NaN,0,2.636550e+04,NaN,NaN,0.0,Consumer credit,-2187,NaN
325465,201208,5537173,Active,currency 1,-387,0,711.0,NaN,0.0,0,2.700000e+05,194998.500,0.000,0.0,Consumer credit,-55,7297.29
325466,201208,5537174,Closed,currency 1,-925,0,-743.0,-743.0,0.0,0,3.523500e+04,0.000,0.000,0.0,Consumer credit,-737,NaN
368454,201208,5537175,Closed,currency 1,-1471,0,-402.0,-402.0,0.0,0,2.700000e+05,0.000,0.000,0.0,Consumer credit,-402,NaN
126053,287903,5244116,Active,currency 1,-185,0,1641.0,NaN,NaN,0,9.630000e+05,924759.000,0.000,0.0,Consumer credit,-49,NaN
126052,287903,5244115,Active,currency 1,-227,0,997.0,NaN,NaN,0,6.750000e+04,57816.000,0.000,0.0,Credit card,-49,NaN
637703,331339,6228355,Closed,currency 1,-1698,0,-1526.0,-1515.0,NaN,0,2.933100e+04,0.000,0.000,0.0,Consumer credit,-1514,NaN
1376434,360148,5386539,Active,currency 1,-1082,0,746.0,NaN,0.0,0,3.150000e+05,0.000,315000.000,0.0,Credit card,-606,NaN
771559,360148,5386538,Active,currency 1,-1093,0,-442.0,NaN,0.0,0,4.500000e+03,-627.525,5127.525,0.0,Credit card,-606,NaN
771560,360148,5386540,Closed,currency 1,-1110,0,-988.0,-990.0,NaN,0,1.709100e+04,0.000,NaN,0.0,Consumer credit,-988,NaN
1376436,360148,5386542,Closed,currency 1,-1417,0,-1237.0,-915.0,NaN,0,3.159000e+04,NaN,NaN,0.0,Consumer credit,-912,NaN
1376435,360148,5386541,Closed,currency 1,-1880,0,-1698.0,-915.0,NaN,0,3.149550e+04,NaN,NaN,0.0,Consumer credit,-912,NaN
1376433,360148,5386537,Active,currency 1,-2848,0,-289.0,NaN,7200.0,0,1.800000e+05,273761.145,81738.855,0.0,Credit card,-596,NaN
1611962,367497,6688864,Active,currency 1,-599,0,126.0,NaN,NaN,0,2.335545e+05,51561.000,0.000,0.0,Consumer credit,-7,10593.00
1359150,372321,6731953,Closed,currency 1,-28,0,-12.0,-19.0,NaN,0,2.250000e+04,0.000,0.000,0.0,Consumer credit,-12,0.00
1239189,372321,5918719,Closed,currency 1,-2633,0,4671.0,-1527.0,NaN,0,1.012500e+07,0.000,0.000,0.0,Mortgage,-859,0.00
1149267,409450,5608499,Active,currency 1,-182,0,770.0,NaN,NaN,0,2.250000e+05,106038.000,NaN,0.0,Credit card,-36,NaN
1149266,409450,5608498,Active,currency 1,-530,0,678.0,NaN,NaN,0,1.575000e+05,147145.500,0.000,0.0,Credit card,-32,NaN
934675,443868,5444292,Closed,currency 1,-554,0,-188.0,-188.0,NaN,0,4.438710e+05,0.000,NaN,0.0,Consumer credit,-167,0.00
934671,443868,5444286,Active,currency 1,-1110,0,2584.0,NaN,NaN,0,4.635000e+06,3745278.000,0.000,0.0,Mortgage,-19,61897.50
934670,443868,5444285,Active,currency 1,-1356,0,836.0,NaN,NaN,0,1.575000e+05,160002.000,0.000,0.0,Credit card,-1137,17208.00
934674,443868,5444291,Closed,currency 1,-2002,0,-1698.0,-1698.0,NaN,0,9.882000e+04,0.000,NaN,0.0,Consumer credit,-1698,0.00
705495,443868,5444283,Closed,currency 1,-2470,0,30907.0,-2043.0,NaN,0,1.350000e+05,0.000,0.000,0.0,Credit card,-759,0.00
934672,443868,5444289,Closed,currency 1,-2484,0,-2178.0,-2178.0,NaN,0,4.168800e+04,0.000,NaN,0.0,Consumer credit,-2178,0.00
934673,443868,5444290,Closed,currency 1,-2517,0,-2213.0,-2213.0,NaN,0,7.901550e+04,0.000,NaN,0.0,Consumer credit,-1990,0.00
934669,443868,5444282,Closed,currency 1,-2518,0,-2213.0,-2210.0,NaN,0,7.901550e+04,0.000,0.000,0.0,Consumer credit,-995,0.00
705496,443868,5444284,Active,currency 1,-2541,0,-715.0,NaN,NaN,0,3.690000e+05,111492.000,0.000,0.0,Consumer credit,-1137,8788.50
705497,443868,5444287,Closed,currency 1,-2722,0,-2417.0,-2538.0,NaN,0,8.266050e+04,0.000,NaN,0.0,Consumer credit,-2538,0.00