In [1]:
import pandas as pd

# Load

In [2]:
train = pd.read_csv('../input/application_train.csv.zip')
test  = pd.read_csv('../input/application_test.csv.zip')

trte = pd.concat([train, test], ignore_index=True)

prev = pd.read_csv('../input/previous_application.csv.zip')
prev = pd.merge(prev, trte[['SK_ID_CURR', 'CODE_GENDER']], on='SK_ID_CURR')


keys = ['AMT_ANNUITY',
        'AMT_CREDIT',
        'AMT_GOODS_PRICE',
        'NAME_CONTRACT_TYPE',
        'WEEKDAY_APPR_PROCESS_START',
        'CODE_GENDER',
        'HOUR_APPR_PROCESS_START',
        'NAME_TYPE_SUITE']

prev_test = pd.merge(prev, test.drop_duplicates(keys, False), 
                     on=keys, how='inner')

# current best
sub = pd.read_csv('../data/stochastic_blending_v3-3_0.411rk7_0.304mw1_0.285t1_0.81031CV_0.3Adv.csv')

pos = pd.read_csv('../input/POS_CASH_balance.csv.zip')

# If DPD mean == 0, TARGET = 0?

In [3]:
leak_ids = prev_test.SK_ID_CURR_y.value_counts()
leak_ids_test = leak_ids[leak_ids==1].index

In [4]:
df = prev_test[prev_test.SK_ID_CURR_y.isin(leak_ids_test)][['SK_ID_PREV', 'SK_ID_CURR_x', 'SK_ID_CURR_y']].sort_values('SK_ID_PREV')
leak_ids_prev = df.SK_ID_PREV

In [5]:
pos[pos.SK_ID_CURR.isin(leak_ids_test)].shape, pos[pos.SK_ID_PREV.isin(leak_ids_prev)].shape

((10397, 8), (2072, 8))

In [6]:
pos_ = pos[pos.SK_ID_PREV.isin(leak_ids_prev)]

dpd_mean = pos_.groupby('SK_ID_PREV').SK_DPD.mean()

In [7]:
df.set_index('SK_ID_PREV', inplace=True)

In [8]:
df['dpd_mean'] = dpd_mean

In [9]:
df.dpd_mean.describe()

count    161.000000
mean       0.063685
std        0.334841
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.380952
Name: dpd_mean, dtype: float64

In [10]:
ids_0 = df[df.dpd_mean==0].SK_ID_CURR_y.tolist()
ids_1 = df[df.dpd_mean>0].SK_ID_CURR_y.tolist()

In [11]:
sub.sort_values('TARGET', inplace=True)

sub_0 = sub[sub.SK_ID_CURR.isin(ids_0)].reset_index(drop=True)
sub_1 = sub[sub.SK_ID_CURR.isin(ids_1)].reset_index(drop=True)
sub_other = sub[~sub.SK_ID_CURR.isin(ids_0+ids_1)].reset_index(drop=True)

In [12]:
sub_0

     SK_ID_CURR    TARGET
0        102293  0.006073
1        277290  0.013971
2        108763  0.016002
3        318857  0.018854
4        324995  0.022567
5        170203  0.022608
6        214141  0.025275
7        347097  0.037564
8        430467  0.040969
9        252092  0.041708
10       268373  0.046139
11       116228  0.050098
12       192289  0.050509
13       240888  0.061936
14       337868  0.075538
15       384657  0.092893
16       435099  0.097079
17       434608  0.097571
18       405690  0.101448
19       177820  0.106249
20       401547  0.118989
21       315494  0.127790
22       334273  0.129677
23       213935  0.131667
24       409985  0.133411
25       447361  0.133801
26       286924  0.136755
27       147742  0.143731
28       166941  0.147239
29       314843  0.150254
..          ...       ...
120      112234  0.744174
121      374420  0.747395
122      163039  0.747702
123      376488  0.750349
124      340630  0.765961
125      406872  0.798026
126      410626  0.814028
127      175682  0.815136
128      271135  0.830194
129      321035  0.842586
130      214088  0.848125
131      185121  0.851715
132      260364  0.864701
133      142676  0.875759
134      275954  0.879390
135      278344  0.880806
136      168093  0.884560
137      112414  0.888868
138      218321  0.892130
139      372942  0.902019
140      407825  0.914307
141      317809  0.919149
142      443364  0.923334
143      223571  0.932320
144      202697  0.948814
145      233172  0.949573
146      317323  0.952651
147      271682  0.954087
148      103570  0.956959
149      412638  0.960918

[150 rows x 2 columns]

In [13]:
sub_1

    SK_ID_CURR    TARGET
0       367663  0.007119
1       122257  0.034897
2       137590  0.107029
3       447230  0.184453
4       193198  0.238245
5       219817  0.272546
6       442195  0.414923
7       163895  0.615378
8       352451  0.905753
9       311024  0.912912
10      365575  0.985352

# Swap

In [14]:
sub_0.shape, sub_1.shape

((150, 2), (11, 2))

In [15]:
sub_0.TARGET.describe()

count    150.000000
mean       0.432215
std        0.282045
min        0.006073
25%        0.205825
50%        0.389217
75%        0.639494
max        0.960918
Name: TARGET, dtype: float64

In [16]:
sub_1.TARGET.describe()

count    11.000000
mean      0.425328
std       0.369244
min       0.007119
25%       0.145741
50%       0.272546
75%       0.760565
max       0.985352
Name: TARGET, dtype: float64

In [17]:
target_all = sorted(sub_0.append(sub_1).TARGET.values)

In [18]:
target_0, target_1 = target_all[:sub_0.shape[0]], target_all[sub_0.shape[0]:]

In [19]:
len(target_0), len(target_1)

(150, 11)

In [20]:
sub_0.TARGET = target_0
sub_1.TARGET = target_1

In [21]:
sub_0

     SK_ID_CURR    TARGET
0        102293  0.006073
1        277290  0.007119
2        108763  0.013971
3        318857  0.016002
4        324995  0.018854
5        170203  0.022567
6        214141  0.022608
7        347097  0.025275
8        430467  0.034897
9        252092  0.037564
10       268373  0.040969
11       116228  0.041708
12       192289  0.046139
13       240888  0.050098
14       337868  0.050509
15       384657  0.061936
16       435099  0.075538
17       434608  0.092893
18       405690  0.097079
19       177820  0.097571
20       401547  0.101448
21       315494  0.106249
22       334273  0.107029
23       213935  0.118989
24       409985  0.127790
25       447361  0.129677
26       286924  0.131667
27       147742  0.133411
28       166941  0.133801
29       314843  0.136755
..          ...       ...
120      112234  0.643628
121      374420  0.656060
122      163039  0.657168
123      376488  0.660902
124      340630  0.667528
125      406872  0.672001
126      410626  0.685766
127      175682  0.703779
128      271135  0.744174
129      321035  0.747395
130      214088  0.747702
131      185121  0.750349
132      260364  0.765961
133      142676  0.798026
134      275954  0.814028
135      278344  0.815136
136      168093  0.830194
137      112414  0.842586
138      218321  0.848125
139      372942  0.851715
140      407825  0.864701
141      317809  0.875759
142      443364  0.879390
143      223571  0.880806
144      202697  0.884560
145      233172  0.888868
146      317323  0.892130
147      271682  0.902019
148      103570  0.905753
149      412638  0.912912

[150 rows x 2 columns]

In [22]:
sub_1

    SK_ID_CURR    TARGET
0       367663  0.914307
1       122257  0.919149
2       137590  0.923334
3       447230  0.932320
4       193198  0.948814
5       219817  0.949573
6       442195  0.952651
7       163895  0.954087
8       352451  0.956959
9       311024  0.960918
10      365575  0.985352

In [23]:
sub_new = pd.concat([sub_0, sub_1, sub_other])
sub_new.sort_values('TARGET', inplace=True)
sub_new.reset_index(drop=True, inplace=True)

sub_new.shape

(48744, 2)

In [24]:
sub.shape

(48744, 2)

In [25]:
sub_new.SK_ID_CURR.unique().shape

(48744,)

In [26]:
sub_new.to_csv('../output/stochastic_blending_v3-3_0.411rk7_0.304mw1_0.285t1_0.81031CV_0.3Adv_Leak002.csv.gz', index=False, compression='gzip')